language: ruby
rvm:
  - 2.2
env:
  - secure: "E19TyEFE1iQSRrZI4w6ahWgFGEFZBiUgxn/Pqq5sQwHlMNpai+bVydDRVlcQ0NsrdPmyXY/4+29wMjsAHbSaiBuqgG5PbtpChJK7a+8583G6CrbkWdZgwkMDpqPQ2IBEWVYeybvl36wuXJ4HNCqImPODWvX1Wxzk5RCK/gM4PNu3OdmQm3+6O8y1N6r0Y/lnqeAxhaZ5wv01/6EE3I3rAbnFxnu0wIJ7AfNV64VRk+tqwYuM5fLXrl6yhelSwp9q5CLEwvvYknBkklHAXbvxc2qo8XfZb6Zb701NyGvFW86Acgo1dytqV+BNmxNj4FfnXj+rxi/SDpiKEifzj5UYLIAgAx/qbxWSHD8SHiOL1WMa7N3vN2Dh+O+9vCLDwtpzbC0kJqxVMei8buAR4pLReZO0OsmHGXDPApoqOdxvQ0Z2VtEWojIWaJSIl0gTaWKAPAE6GMT0zRQcmm6GPXmLpWGc/9MZKJ5lTXQloucRaStRhPYV4x2HNF4vVZmJ0RWQexAX4qsUiaVFs0jdnJTDvgyPWj+f7qJaaqNFfXz9TyP2N8LSjPdGBYfkWIbkv8dXjJCufXX29BbOD5Yq1NcRQxgTnQO1cvXs1/MJOrK8tCAQ/rZUqQakBMg71fhznOm2lejiiingfnq846C1v27KxZzFLnGIOfDUbMAgS1sbGUU="
script:
- echo "Skipping tests"
#- mocha --harmony
addons:
  chrome: stable
before_install:
- . $HOME/.nvm/nvm.sh
- nvm install stable
- nvm use stable
- if [[ `npm -v` != 5.2* ]]; then npm i -g npm@5.2; fi
- npm install -g heroku-cli
install:
- npm install --ignore-scripts
- make web
- make deploy-cpo-main
script:
- echo "No tests on deploy branch"
before_deploy:
- export SHORT_COMMIT=`echo $TRAVIS_COMMIT | cut -c1-7`
- export GIT_REV=`echo $TRAVIS_COMMIT`
- export GIT_BRANCH=`echo $TRAVIS_BRANCH`
- heroku config:set --app code-pyret-org GIT_REV=$GIT_REV
- heroku config:set --app code-pyret-org GIT_BRANCH=$GIT_REV
- heroku config:set --app code-pyret-org CURRENT_PYRET_RELEASE=$SHORT_COMMIT
- heroku config:set --app code-pyret-org PYRET=https://d251z2akfyabv3.cloudfront.net/releases/$SHORT_COMMIT/cpo-main.jarr.gz.js
deploy:
- provider: s3
  access_key_id: AKIAJI5QOXMOMALYEG3Q
  secret_access_key:
    secure: eNHYX/jlPW4ZWOhl3q2XzXaEG0RF3LyNmJ2VULnAocCKfgcSLvrAJalzXZ7wyK7WOBPN9liaLaams0Vq0WqabS09F7TQQYQG0yHx5L2bxkiUmJmMlpku0/Her1/6j+QH7YlLHjHmHF4HNJUgEpp/mwDF4x4/NdQ9H8wGdJSw3OwkE7+27Xg/5OmgKkDOJR/6d9y5Ha8PvVeEt1XC4OMtEn+Himao/X8GUVtrCmnyaACoyuIAS0aYkD5YdpXoluNJW3Iv/aqZOic5zrxx0XCfAneD/bQfCI0LneOICOjLxWkHttjFVTLfzJr4cCB1mFfAAh6fh0BipTVQZze3qp02ziKDJgYPD/Lo6pyuyG+ENwCS/s0jOywpTT4L0MdGUC50eNrrRFpQ5Fch6e2zvdWoj9/eB42VDijP8d+nguwRm/gt/z/6vo4jZaVGdlZaUr4Bx1ejX/30aiw+ezQjPoD2A7tAH7A9qygVAPmvJ7kvYOf+jLzhQUxkQna4lx2BdpirhX/QT8GLoei6LuZ/MQmy79jmlQnR7PUpeVwuN4DK0X5W/0774wPcFhETvr7IpF5DWdZlb8wqg8440abhD2sYBYqpmv9FehdEBSgyFvA2uxIZ7AcBICv47Lz9cvB6rjN1cjAUWRaSB9q54ej18l8o68OZUXe1TY5ek3c+Go2V88k=
  bucket: pyret-releases
  local-dir: build/release
  upload-dir: releases
  acl: public_read
  skip_cleanup: true
  detect_encoding: true
  on:
    repo: brownplt/code.pyret.org
    branch: release
- provider: heroku
  app: code-pyret-org
  api_key:
    secure: h516V/Ze+mXMWSinCVzpwuRBsdx3nNbo7iEsWovrdIoVwz01tEQnwaTsGMviOq7P/X5bu+PuOAD0Kpm3lfds0/ctaB4y/O5zKvba1A4jdHSjvgADRvgbx1FxoArkwnuI1s9/TFfTXdN7zFDbJWFiXy3g0o7xp5X22Q21ZgrjGLv0fNBbxRvIm441lQgn13uZD45+uS12jSDMJ7DZU7vBoSnq1DACWHNuWORb/PRZnDPpwjKUwX9BEYaYmkoupB2WpgcSTlglVnDpFHnaOmUO/yeJHlsuFe4E4BMRrjccsSB2ZGdj05YtR4pg2biQSJmXMe8+OfBpteH8MF4LYH4mIEsA56xDR47IYGaGDo7oxIaS6gWE7u+w2UkMO5/Tv4W+V9hHEoAA9stX52x8jHDUe8qcYs/Gb/GWYLQFkolr8dczrBF/kojUELm7KztlOWmPCxW6kTd3M4imWO0bbHEHgDDlxLbhBgYLkh+Jw3BSwaDeWx2G00Xy/cZ2XELN1s5cnQ+g7A2/YjaRos2hX59HCFALgx8FoMzXCmnUXZX5hqUloMjY1a/zomw+fa5WEOYF41TRQmkdqwmwj9WiW160jXtOJbdKTncdw9BXc9OULDjGg4FbPPMCT/zva3AsMYoWbGJdLLEhQPyUsf1gzPz7ToZ5E8ykxWpopNDQg7i2mKY=
  on:
    repo: brownplt/code.pyret.org
    branch: release
