language: ruby
sudo: required
rvm:
  - 2.2
env:
  global:
  - TEST_LOC="sauce"
  - GOOGLE_CLIENT_ID=""
  - GOOGLE_CLIENT_SECRET=""
  - GOOGLE_CHROME_BINARY=/usr/bin/google-chrome-stable
  - secure: "TYqxrQOzkzQcyfDfLz9fOklDjK+vkXg0Jzp8wTynenz8ZzLIac6UKH3DZza7KcQAdgNhhSYoekh05z+b2/EaYKvo+SNDDsfWEP2qjBCL6GxccDE8Ti6itt4orGZUT2XKd6FkDbXDq9j3lUfKlG78lIImGiZKL1UN2WnQozXxBpdp1C8c4V2UcXo70u26Ii/m9eTYGoQfUvVa57lqpA7dMsuVW6lffTmGAcL0pY9penE6+tv1B7pxzQ7wrl+eQh4qw423qCJCWHRKKHVtPqvSafh6E8/wJIc5OUXRvy1Uz6eM4oX6PWfs0Knrznh1fLtFaJSXzSEaDNzJesoInvDINsQ8HqM9dYv95Codbg0wh9QlW3ZFg8OL8gAG2i9dScGRMqtTjz+cRpIDP1ppDaWypMrvLCoRVV/WfufQQTqZeESAFvOU4fcihlwAGaadEa2D4SVY72GXxIuxox2fKjNtxfCggoZhUZJQUWUP/C7x/W1qbu2XrgxGYB0VpCUcpFAH7Zsl2P96WBfIvjHvxITTCEA86lyV6ZcdX/fhCVEPGabBz5Et5hHbH1jFV3T3qDJpMLmeLbhZSHVsUrnnsb0qkEGX3jgHF6WaCDgwiEAzmGS4/JKsW5MlZvAdd2gd+EEowqMCA9gXRyR8RZr2OyxrKs73U7GyH/lgpHeZURf6YAY="
  - REDISCLOUD_URL=""
  - BASE_URL=http://localhost:5000
  - SESSION_SECRET=not-so-secret-for-testing
  - USE_STANDALONE_PYRET=true
  - PYRET="http://localhost:5000/js/cpo-main.jarr"
  - CURRENT_PYRET_RELEASE=""
  - PORT=5000
  - SAUCE_TEST_TARGET="http://localhost:5000"
  - SAUCE_USERNAME="pyret-lang"
  - secure: e0vpQGmW0d69Ql72Mw6gsGsMxAKgt61ZNqsfQEtNlAGtx7CbTKe3xg8kF1ygwFVEB7GDmTaojTcSGbRwqqZ5GAa8dsTAkefhOtfCDV5KUjvXXbpo9J/8YLiZiIy7ksHyh1yhByvvWmZZpjmdxWwcH8gUqtpae3bGtz7rQX3jLf2v3OR5uVFt8vKRMSR9imCWmq6tpnu+GVoaCFOHjq3U7LS1h78R2LJz+MnTuCbDtYFlxp/sAyS7vSXssFScl6wqOsgH5PHlj+kaHhFWLhzsAzG1RoHftqqIeinXzDcYo8EC/c6O3hMf2KtHm/Hsh1dPR8GnE6WClxPw0xNbh10jVf7b1CXuzKGF8a1JlmtsVztiujsMswZGGLpTkqBvBAiuDsMOwKFNk7UrR5FA/0bVMMsluKxW/0UBzVPN9QyMKAs19ca1t/qT3abxYFyvXrDibKMLuS1uCCsZbwTkjkPwfWBzin8ohK2gLi+y24eQFSd27XWcmk+fJHfgJ458OgvczubK0CsyPAaJtCvRBYKvLQaEtkc4RkoM0yx6NhYYLCZqH1DRneam40rVSrVO41yT/PUnA5U64q16ptbn90Vgw/yKlp9OLtWKheBDTinwbst1kegbCSj4qZtORFLIQIUsZQN6SUm9tCACqFosDpRXAzURc2IOdsSUmtJEqvkijsc=
  - secure: "E19TyEFE1iQSRrZI4w6ahWgFGEFZBiUgxn/Pqq5sQwHlMNpai+bVydDRVlcQ0NsrdPmyXY/4+29wMjsAHbSaiBuqgG5PbtpChJK7a+8583G6CrbkWdZgwkMDpqPQ2IBEWVYeybvl36wuXJ4HNCqImPODWvX1Wxzk5RCK/gM4PNu3OdmQm3+6O8y1N6r0Y/lnqeAxhaZ5wv01/6EE3I3rAbnFxnu0wIJ7AfNV64VRk+tqwYuM5fLXrl6yhelSwp9q5CLEwvvYknBkklHAXbvxc2qo8XfZb6Zb701NyGvFW86Acgo1dytqV+BNmxNj4FfnXj+rxi/SDpiKEifzj5UYLIAgAx/qbxWSHD8SHiOL1WMa7N3vN2Dh+O+9vCLDwtpzbC0kJqxVMei8buAR4pLReZO0OsmHGXDPApoqOdxvQ0Z2VtEWojIWaJSIl0gTaWKAPAE6GMT0zRQcmm6GPXmLpWGc/9MZKJ5lTXQloucRaStRhPYV4x2HNF4vVZmJ0RWQexAX4qsUiaVFs0jdnJTDvgyPWj+f7qJaaqNFfXz9TyP2N8LSjPdGBYfkWIbkv8dXjJCufXX29BbOD5Yq1NcRQxgTnQO1cvXs1/MJOrK8tCAQ/rZUqQakBMg71fhznOm2lejiiingfnq846C1v27KxZzFLnGIOfDUbMAgS1sbGUU="
  matrix:
  - SAUCE_BROWSER="chrome"
#  - SAUCE_BROWSER="firefox"
#  - SAUCE_BROWSER="safari"
#  - SAUCE_BROWSER="internet explorer"
cache:
  directories:
    - node_modules
before_script:
- node src/run.js &
- sleep 3
script:
- sleep 3
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; heroku local:run node_modules/.bin/mocha; fi
- if [ "$TRAVIS_PULL_REQUEST" = "true" ]; heroku local:run node_modules/.bin/mocha --grep modules --invert; fi
#addons:
#  sauce_connect: true
#- mocha --harmony
addons:
  chrome: stable
before_install:
- . $HOME/.nvm/nvm.sh
- nvm install stable
- nvm use stable
- if [[ `npm -v` != 5.2* ]]; then npm i -g npm@5.2; fi
- npm install -g heroku-cli
- npm install -g chromedriver
- export CHROME_BIN=chromium-browser
- export PATH=$PATH:node_modules/.bin/
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
before_deploy:
- export GIT_REV=`echo $TRAVIS_COMMIT`
- export GIT_BRANCH=`echo $TRAVIS_BRANCH`
- heroku config:set --app pyret-horizon GIT_REV=$GIT_REV
- heroku config:set --app pyret-horizon GIT_BRANCH=$GIT_REV
install:
- npm install --ignore-scripts
- npm update # to update Pyret to the newest version
- make web
- make deploy-cpo-main
deploy:
  - provider: s3
    access_key_id: AKIAIFY44WM3LGA4OQSQ
    secret_access_key:
      secure: X50U/xTxW1OOBL5rQ6k764xAitKS77+NZfzAGgOKbk/0REUJEg3BHCYCqhr6/AtThh42HKBNNuG029Xu/0wQYOJq9JNWms61g25/1ig6HbeeaJbbpRLdRDWp59UAeB8tUQmPgI34DxREe2zcJJpNErepbkQ0XXx2tULF3HWBLD7PPOv4Ylb78bfhteIGKNX8+Ipag0gCGmJiTr9OPp6FCQh7kWzG1DBfT8t6gZJM9rhvE1y0Myv1OmcT2zs5ZCvd/uJWz7iiGjs4VvOJVTTFYs733B1NX3Inv3vlbgNny46JT7vT5M0RMgulb8ypkkzLham43yuQyn3eIGKVLd3AcTUtdNTB1TP4be50wT/FAoj195Ec1JAsO9LCKz79JPbUvoxdh9C+k+H0B0SHbL+VXqIhZGWLYq0GE/LZfBESYKAeNq/WfoNtfFXIv1VO0rgbX2FU/jxoM7uROagDhfeLBdmYhQVj3O4rXpcUDHcebBEycXlmC5zOaqmANZ37Pc3QIoR1is2+hkNzeP1/NV4huYOmJFlrD7dADKXIsh6vSyp6uZ49tabMfqSe9oKbl41Yc+uHEBm2vPXUF9vmm0SLOZScjFNyvd04EOXxTCBCww+qlFeIeHTyw9NgEIsOgUWUX44ZNZJATLnxCE9EZ+Sp5MHGDH7Wz5ceR5tZh68P7kw=
    bucket: 'pyret-horizon'
    local-dir: build/web/js
    upload-dir: new-horizons
    acl: public_read
    skip_cleanup: true
    detect_encoding: true
    on:
      repo: brownplt/code.pyret.org
      branch: horizon
  - provider: heroku
    app: pyret-horizon
    api_key:
      secure: h516V/Ze+mXMWSinCVzpwuRBsdx3nNbo7iEsWovrdIoVwz01tEQnwaTsGMviOq7P/X5bu+PuOAD0Kpm3lfds0/ctaB4y/O5zKvba1A4jdHSjvgADRvgbx1FxoArkwnuI1s9/TFfTXdN7zFDbJWFiXy3g0o7xp5X22Q21ZgrjGLv0fNBbxRvIm441lQgn13uZD45+uS12jSDMJ7DZU7vBoSnq1DACWHNuWORb/PRZnDPpwjKUwX9BEYaYmkoupB2WpgcSTlglVnDpFHnaOmUO/yeJHlsuFe4E4BMRrjccsSB2ZGdj05YtR4pg2biQSJmXMe8+OfBpteH8MF4LYH4mIEsA56xDR47IYGaGDo7oxIaS6gWE7u+w2UkMO5/Tv4W+V9hHEoAA9stX52x8jHDUe8qcYs/Gb/GWYLQFkolr8dczrBF/kojUELm7KztlOWmPCxW6kTd3M4imWO0bbHEHgDDlxLbhBgYLkh+Jw3BSwaDeWx2G00Xy/cZ2XELN1s5cnQ+g7A2/YjaRos2hX59HCFALgx8FoMzXCmnUXZX5hqUloMjY1a/zomw+fa5WEOYF41TRQmkdqwmwj9WiW160jXtOJbdKTncdw9BXc9OULDjGg4FbPPMCT/zva3AsMYoWbGJdLLEhQPyUsf1gzPz7ToZ5E8ykxWpopNDQg7i2mKY=
    on:
      repo: brownplt/code.pyret.org
      branch: horizon
