/* Adapted from https://codemirror.net/theme/material-darker.css */

/*
  ------------------------- Theme Color Palette -------------------------
  These are the colors used by this theme.
  -----------------------------------------------------------------------
*/
body.material-darker {
  --bg-darker-2: #0d0d0d;
  --bg-darker: #1a1a1a;
  --bg: #212121;
  --bg-lighter: #262626;
  --bg-lighter-2: #333333;
  --bg-lighter-3: #404040;
  --bg-lighter-4: #4d4d4d;

  --white: #EEFFFF;
  --light-gray: #d9d9d9;
  --light-gray-2: #b3b3b3;
  --comment-color: #545454;
  --purple: #C792EA;
  --teal: #89DDFF;
  --orange: #FFCB6B;
  --red-pink: #FF5370;
  --blue: #82AAFF;
  --strong-blue: #3374ff;
  --green: #C3E88D;

  --err-red: #FF5370;
  --success-green: #C3E88D; /*#90d42b;*/
  --failing-yellow: #FFCB6B;

  --strong-red: #ff3333;
  --blue-lighter: #baedf8;
}

/*
  ------------------------- Color Assignments -------------------------
  This mapping determines usage of colors from the above palette
  to stylize elements in groups
  ---------------------------------------------------------------------
*/
body.material-darker {
  /* Syntax Highlighting */
  --default-text:     var(--white);         /* default program text */
  --cursor:           var(--white);         /* cursor */
  --comment:          var(--comment-color); /* code comments */
  --boolean:          var(--red-pink);      /* booleans */
  --builtin:          var(--orange);        /* builtins */
  --function-name:    var(--light-gray);    /* function names */
  --variable:         var(--light-gray);    /* variables */
  --keyword:          var(--purple);        /* keywords */
  --number:           var(--blue);          /* exact numbers */
  --roughnum:         var(--strong-blue);   /* rough numbers */
  --rational:         var(--blue);          /* rational numbers */
  --bad-number:       var(--err-red);       /* bad numbers */
  --string:           var(--green);         /* strings */
  --unterm-string:    var(--err-red);       /* unterminated strings */
  --type:             var(--teal);          /* types */

  /* Backgrounds */
  --background:           var(--bg);            /* main background */
  --background-darker:    var(--bg-darker);     /* darker background */
  --background-darker-2:  var(--bg-darker-2);   /* even darker background */
  --background-lighter:   var(--bg-lighter);    /* lighter background */
  --background-lighter-2: var(--bg-lighter-2);  /* even lighter background */
  --background-lighter-3: var(--bg-lighter-3);  /* thrice lighter than background */
  --background-lighter-4: var(--bg-lighter-4);  /* quadrice lighter background */

  /* Checks and Errors */
  --err-highlight:        var(--white);           /* color-flashing text in error messages */
  --check-pass:           var(--success-green);   /* passing check block text color */
  --check-fail:           var(--failing-yellow);  /* failing check block text color */
  --check-error:          var(--err-red);         /* erroring check block text color */
  --summary-error:        var(--white);           /* announcement that blocks errored in summary (top) */
  --err-halo-selected:    var(--blue-lighter);    /* border around errors/failures currently *in focus* */
  --err-halo-unselected:  var(--strong-red);      /* border around errors/failures NOT in focus */

  /* Text */
  --inverted-text:  var(--bg-darker);   /* text opposite color of default */
  --repl-out:       var(--light-gray);  /* REPL output (non-printed) */

  /* Misc. */
  --line-ruler:             var(--red-pink);      /* vertical line at 100-char boundary */
  --failed-test-marker:     var(--bg-darker-2);   /* bg of line number indicating failed test */
  --region-highlight:       var(--bg-lighter-2);  /* region highlighted by (check: ... end) or mouse drag, etc. */
  --matching-bracket:       var(--light-gray-2);  /* right angle brackets surrounding highlighted text */
  --nonmatching-highlight:  var(--bg-lighter);    /* bg of nonmatching regions (e.g. (} )*/
  --line-number:            var(--comment-color); /* line numbers */
}


/*
  ----------------------------- Overrides -----------------------------
  The below styles override the editor's appearance using the
  color variables defined above, in an internally consistent way.
  ---------------------------------------------------------------------
*/

/* wrapper on entire editor */
body.material-darker .CodeMirror,
body.material-darker .inlineExample {
  background: var(--background);
  color: var(--default-text);
}

/* REPL and editor */
body.material-darker .repl .CodeMirror,
body.material-darker .replMain,
body.material-darker {
  background-color: var(--background);
}

/* syntax highlighting */
body.material-darker .CodeMirror div.CodeMirror-cursor { border-left: 2px solid var(--cursor); }
body.material-darker .cm-s-default.CodeMirror { color: var(--default-text); }
body.material-darker .cm-s-default .cm-comment { color: var(--comment); }
body.material-darker .cm-s-default .cm-boolean { color: var(--boolean); }
body.material-darker .cm-s-default .cm-builtin { color: var(--builtin); }
body.material-darker .cm-s-default .cm-function-name { color: var(--function-name); }
body.material-darker .cm-s-default .cm-variable { color: var(--variable); }
body.material-darker .cm-s-default .cm-keyword { color: var(--keyword); font-weight: bold; }
body.material-darker .cm-s-default .cm-number { color: var(--number); }
body.material-darker .cm-s-default .cm-roughnum { color: var(--roughnum); }
body.material-darker .cm-s-default .cm-bad-number { color: var(--bad-number); font-weight: bold; }
body.material-darker .cm-s-default .cm-string { color: var(--string); }
body.material-darker .cm-s-default .cm-unterminated-string { color: var(--unterm-string); font-weight: bold; }
body.material-darker .cm-s-default .cm-type { color: var(--type); }
body.material-darker .cptteach-fixed { background: var(--cptteach-fixed); }

/* text selected by mouse */
body.material-darker div.CodeMirror-selected,
body.material-darker span.CodeMirror-selectedtext {
  background-color: var(--region-highlight) !important;
}

/* right angles surrounding matched regions */
body.material-darker .CodeMirror-matchingbracket::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0px solid var(--matching-bracket);
  z-index: 1000;
}

/* highlighting of matched regions such as (fun ... end), etc. */
body.material-darker div.CodeMirror span.CodeMirror-matchingbracket-region {
  background-color: var(--region-highlight);
  border-top: 0.1em solid var(--region-highlight);
  border-bottom: 0.1em solid var(--region-highlight);
}

body.material-darker div.CodeMirror span.CodeMirror-matchingbracket-region:last-of-type {
    box-shadow: 0.5em 0 0.25em var(--region-highlight);
}
body.material-darker div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type {
    box-shadow: -0.5em 0 0.25em var(--region-highlight);
}
body.material-darker div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type:last-of-type {
    box-shadow: -0.5em 0 0.25em var(--region-highlight), 0.5em 0 0.25em var(--region-highlight);
}
body.material-darker div.CodeMirror span.CodeMirror-matchingbracket.open {
  box-shadow: -0.3ex 0 0.3ex var(--region-highlight);
}
body.material-darker div.CodeMirror span.CodeMirror-matchingbracket.open:last-of-type {
  box-shadow: 0.5em 0 0.25em var(--region-highlight), -0.3ex 0 0.3ex var(--region-highlight);
}
body.material-darker div.CodeMirror span.CodeMirror-matchingbracket.close {
  box-shadow: 0.3ex 0 0.3ex var(--region-highlight);
}
body.material-darker div.CodeMirror span.CodeMirror-matchingbracket.close:first-of-type {
  box-shadow: -0.5em 0 0.25em var(--region-highlight), 0.3ex 0 0.3ex var(--region-highlight);
}

body.material-darker .CodeMirror-matchingbracket.close::before {
  border-width: 0px 0.3ex 0.3ex 0px;
  border-bottom-right-radius: 0.4ex;
  margin: 0.3ex;
}

body.material-darker .CodeMirror-matchingbracket.open::before {
  border-width: 0.3ex 0px 0px 0.3ex;
  border-top-left-radius: 0.4ex;
  margin: -0.3ex;
}

body.material-darker div.CodeMirror span.CodeMirror-nonmatchingbracket {
  background-color: var(--nonmatching-highlight);
  color: var(--check-error);
}

body.material-darker div.CodeMirror span.CodeMirror-nonmatchingbracket-region {
  background-color: var(--nonmatching-highlight);
  border-top: 0.1em solid var(--nonmatching-highlight);
  border-bottom: 0.1em solid var(--nonmatching-highlight);
}

/* scrollbar in the definitions window */
body.material-darker .CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 15px;
  background-color: var(--background-lighter-2);
}

body.material-darker .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: var(--background-lighter-3);
  border-radius: 2px;
}

body.material-darker .CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-lighter-4);
}

/* other scrollbars (interactions window) */
body.material-darker ::-webkit-scrollbar {
  width: 15px;
}

body.material-darker ::-webkit-scrollbar-track {
  background-color: var(--background-lighter-2);
}

body.material-darker ::-webkit-scrollbar-thumb {
  background-color: var(--background-lighter-3);
  border-radius: 2px;
}

body.material-darker ::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-lighter-4);
  cursor: pointer;
}

/* lefthand gutters */
body.material-darker .cm-s-default .CodeMirror-gutters {
  background: var(--background);
  border-right: 1px solid var(--background-lighter);
}

body.material-darker .cm-s-default .CodeMirror-guttermarker {
  color: var(--line-number);
}

body.material-darker .cm-s-default .CodeMirror-guttermarker-subtle {
  color: var(--line-number);
}

/* line numbers */
body.material-darker .cm-s-default .CodeMirror-linenumber {
  color: var(--line-number);
}

/* 100 character line ruler */
body.material-darker .CodeMirror div.CodeMirror-ruler {
  border: 1.5px;
  border-color: var(--line-ruler) !important;
  border-style: solid;
  border-left-style: none !important;
}

/* div containing spinny Pyret and loading messages */
body.material-darker #loader {
  background-color: var(--background);
}

/* pirate text on loader screen */
body.material-darker #loader > p {
  color: var(--default-text);
}

body.material-darker div.trace.error {
   background-color: var(--check-error);
}

body.material-darker div.spy-block {
  border: 1px solid var(--background-lighter-2);
  background: var(--background-darker);
  color: var(--default-text);
}

body.material-darker div.spy-block > .spy-title {
  border-bottom: 1px solid var(--background-lighter-2);
}

body.material-darker div.spy-block > table > tbody > tr {
  border: 1px solid var(--background-lighter-2);
  background: var(--background);
}

body.material-darker div.spy-block > table > tbody > tr:nth-child(even) {
  background: var(--background-lighter);
}

body.material-darker div.spy-block > table > tbody > tr > td {
  border-right:  1px solid var(--background-lighter-2);
}

body.material-darker .check-block-test {
  background-color: var(--background-lighter);
}

body.material-darker #output > .compile-error:not(.highlights-active):hover:after,
body.material-darker .check-block-error > .compile-error:not(.highlights-active):hover::after,
body.material-darker .check-block-test.failing-test:not(.highlights-active):hover {
    box-shadow: 0 0 2em var(--err-halo-selected);
}

body.material-darker .repl {
  background-color: var(--background);
}

/* >>> in the repl */
body.material-darker .repl-prompt,
body.material-darker .repl-echo::before,
body.material-darker .repl-prompt::before {
  color: var(--default-text);
}

body.material-darker .check-success {
  color: var(--check-pass);
  background-color: var(--background-lighter);
}

body.material-darker .check-failure {
  color: var(--check-fail);
  background-color: var(--background-lighter);
}

body.material-darker .check-block {
  background: var(--background-lighter-2);
}

body.material-darker .check-block-failed {
  color: var(--check-fail);
  background-color: var(--background-lighter-2);
  border-width: 0.15em;
  border-style: solid;
  border-color: var(--check-fail);
}

body.material-darker .check-block-errored {
  color: var(--check-error);
  background-color: var(--background-lighter-2);
  border-width: 0.15em;
  border-style: solid;
  border-color: var(--check-error);
}

body.material-darker .check-block-success {
  color: var(--check-pass);
  background-color: var(--background-lighter-2);
}

body.material-darker .testing-summary{
  color: var(--default-text);
  background: var(--background-lighter-2);
}

body.material-darker #program-name-container input {
  background: var(--background);
}

body.material-darker .replPrint {
  color: var(--default-text);
}

body.material-darker .replOutput {
  color: var(--repl-out);
}

body.material-darker .replTextOutput {
  color: var(--default-text);
}

/* rational numbers and their repeating decimals */
body.material-darker .rationalNumber,
body.material-darker .rationalRepeat {
 color: var(--rational);
}

body.material-darker .replImageThumbnail:hover canvas {
  box-shadow: 0px 2px 4px var(--background-lighter-2);
}

body.material-darker .test-reason {
  color: var(--default-text);
  background-color: var(--background-lighter);
}

body.material-darker a.highlight {
  color: var(--err-highlight) !important;
}

body.material-darker .compile-error {
  border: 1px dashed var(--err-halo-unselected);
  color: var(--default-text);
  background: var(--background);
}

body.material-darker .compile-error a {
  color: var(--err-halo-selected);
}

body.material-darker .parse-error {
  border: 1px dashed var(--err-halo-unselected);
  background: var(--background);
}

body.material-darker .error-icon {
  color: var(--err-halo-selected);
}

body.material-darker .parse-error a {
  color: var(--err-halo-unselected);
}

/* Resizable REPL */
body.material-darker #handle{
  background:-webkit-linear-gradient(left,
    var(--background-lighter) 0%,
    var(--background-lighter-2) 40%,
    var(--background-lighter-2) 60%,
    var(--background-lighter) 100%);
  background:-o-linear-gradient(left,
    var(--background-lighter) 0%,
    var(--background-lighter-2) 40%,
    var(--background-lighter-2) 60%,
    var(--background-lighter) 100%);
  background:-moz-linear-gradient(left,
    var(--background-lighter) 0%,
    var(--background-lighter-2) 40%,
    var(--background-lighter-2) 60%,
    var(--background-lighter) 100%);
  background:linear-gradient(to right,
    var(--background-lighter) 0%,
    var(--background-lighter-2) 40%,
    var(--background-lighter-2) 60%,
    var(--background-lighter) 100%);
  border: 1px solid var(--background-darker-2);
}

body.material-darker .module-info-hover {
  border: 1px solid var(--default-text);
  background-color: var(--background);
}

body.material-darker .editor-check-block-success {
  background: var(--check-pass);
  box-shadow: 0 1em 11px 2px var(--check-pass);
}

body.material-darker .editor-check-block-failed {
  background: var(--check-fail);
  box-shadow: 0 0.5em 11px 3px var(--check-fail);
}

body.material-darker .editor-check-block-error {
  background: var(--check-error);
  box-shadow: 0 1em 11px 2px var(--check-error);
}

@keyframes emphasize-error {
  from {background-color: var(--background);}
  to {}
}

body.material-darker .check-block-test.failing-test:not(.highlights-active) {
  color: var(--check-fail);
  background-color: var(--background-lighter);
}
body.material-darker .check-block-test.passing-test {
  color: var(--check-pass);
  background-color: var(--background-lighter);
}

body.material-darker .check-block-test.passing-test > header,
body.material-darker .check-block-test.failing-test > header {
  font-weight: bold;
}

body.material-darker #output > .compile-error.highlights-active,
body.material-darker .check-block-error .highlights-active.compile-error,
body.material-darker .check-block-test.highlights-active {
  border: 0.3em var(--err-halo-selected) solid;
}

body.material-darker .check-block-error .highlights-active.compile-error,
body.material-darker .check-block-test.highlights-active {
  color: var(--check-error);
  background-color: var(--background-lighter);
}

body.material-darker .test-reason:empty,
body.material-darker .check-block-error:empty {
  background-color: var(--background-lighter);
}

body.material-darker .check-block-test.failing-test.highlights-active > header {
  color: var(--check-fail);
  background-color: var(--background-lighter);
}

body.material-darker .check-block-test .CodeMirror {
  background: var(--background);
}

body.material-darker .errored-test-marker {
  background-color: var(--check-error);
}

body.material-darker .failed-test-marker {
  background-color: var(--failed-test-marker);
}

/* tests passed and failed summary */
body.material-darker .summary-bits {
  color: var(--default-text);
  background-color: var(--background-lighter);
}

body.material-darker .summary-bit.summary-passed {
  color: var(--check-pass);
  background: var(--background-lighter);
}

body.material-darker .summary-bit.summary-failed {
  color: var(--check-fail);
  background: var(--background-lighter);
}

body.material-darker .summary-errored {
  background: var(--check-error);
  color: var(--summary-error);
}

body.material-darker .summary-text {
  border-left: 1px var(--summary-error) solid;
}

body.material-darker .cm-snippet {
  border: 1px var(--background-lighter-2) dashed;
}

body.material-darker .cm-snippet header {
  background: var(--background-darker);
  /* box-shadow: 0 0 3px hsla(0,0%,0%,0.5); */
  border-bottom: 1px var(--background-lighter-2) solid;
}

body.material-darker table {
  border:1px var(--background-lighter-2) solid;
  background: var(--background-lighter);
}

body.material-darker th {
    background: var(--background-darker);
}

body.material-darker th, td {
  border-right: 1px var(--background-lighter-2) solid;
}

/* odd table rows */
body.material-darker tr {
  background-color: var(--background-lighter);
}

/* even table rows */
body.material-darker tr:nth-child(even){
  background-color: var(--background-lighter-2)
}

body.material-darker table.pyret-table thead {
  box-shadow: 0px 2px 2px var(--background-lighter);
}
body.material-darker table.pyret-row th {
  box-shadow: 2px 0px 2px var(--background-lighter), -2px 0px 2px var(--background-lighter);
}
/* NOTE(joe): this helps distinguish a row that appears in a table cell */
body.material-darker table.pyret-row {
  box-shadow: 2px 2px 2px var(--background-lighter);
}

body.material-darker .stale.test-results .stale-warning {
  color: var(--inverted-text);
  background-color: var(--check-fail);
}

body.material-darker .stale.test-results .check-block-failed {
  color: var(--check-fail);
  background-color: var(--background-lighter-2);
}

body.material-darker .stale.test-results .check-block-success {
  color: var(--check-pass);
  background-color: var(--background-lighter-2);
}

body.material-darker .stale.test-results .check-block-errored {
  color: var(--check-error);
  background-color: var(--background-lighter-2);
}

body.material-darker .stale.test-results .check-block-test.failing-test:not(.highlights-active) {
  background-color: var(--background-lighter);
}

body.material-darker .stale.test-results .check-block-test.highlights-active {
  background-color: var(--background-lighter);
}

body.material-darker .stale.test-results .check-block-test.highlights-active > header {
  background-color: var(--background-lighter);
}

body.material-darker .stale.test-results .check-block-test.passing-test {
  background-color: var(--background-lighter);
}

body.material-darker .stale.test-results .testing-summary .summary-passed {
  color: var(--check-pass);
  background: var(--background-lighter);
}

body.material-darker .stale.test-results .testing-summary .summary-failed {
  color: var(--check-fail);
  background: var(--background-lighter);
}

body.material-darker .stale.test-results .testing-summary .summary-errored {
  background: var(--check-error);
  color: var(--summary-error);
}

body.material-darker .error-bg {
  background-color: var(--check-error);
}

body.material-darker #header a {
  color: var(--default-text);
}

/* when error is spotlighted, keep erroring line normal background */
body.material-darker #main.spotlight div.CodeMirror span.spotlight {
  background-color: var(--background) !important;
}

body.material-darker #main.spotlight .CodeMirror-matchingbracket,
body.material-darker #main.spotlight .CodeMirror-matchingbracket.open,
body.material-darker #main.spotlight .CodeMirror-matchingbracket.close,
body.material-darker #main.spotlight .CodeMirror-matchingbracket-region,
body.material-darker #main.spotlight .repl-echo > div.CodeMirror,
body.material-darker #main.spotlight .repl,
body.material-darker #main.spotlight .repl-prompt > div.CodeMirror,
body.material-darker #main.spotlight > div.replMain > div.CodeMirror {
  border-color: transparent;
  box-shadow:none;
  background-color: var(--background-lighter-3);
  transition: .1s background-color linear .3s;
}

body.material-darker #main.spotlight .check-block {
  transition: .1s background-color linear .3s;
  background-color: var(--background-lighter-3);
}
