
/*  ######################################################################
    #----------------------  Theme-specific colors ----------------------#
    #                           Theme: Default                           #
    ###################################################################### */

body.default {
  /* - default editor text */
  --default-text: black;

  /* - pyret keywords */
  --keyword: black;

  /* - pyret comments */
  --comments: #cd7054;

  /* - pyret booleans */
  --booleans: darkred;

  /* - pyret built-ins */
  --built-ins: #555;

  /* - pyret function names */
  --function-names: #374049;

  /* - pyret types */
  --types: #374049;

  /* - pyret variables */
  --variables: #4d5966;

  /* - pyret exact nums */
  --numbers: navy;

  /* - pyret rough nums */
  --rough-nums: blue;

  /* - pyret rational numbers */
  --rationals: #af1180;

  /* - pyret bad numbers */
  --bad-numbers: red;

  /* - pyret unterminated strings */
  --unterm-strings: red;

  /* - pyret strings */
  --strings: forestgreen;

  /* - border on pyret tables */
  --table-border: black;

  /* - bg on pyret tables */
  --table-bg: #eee;

  /* - bg on even rows in pyret table */
  --table-even-rows-bg: #f2f2f2;

  /* - bg on pyret table headers */
  --th-bg: #ddd;

  /* righthand borders separating table columns */
  --table-col-dividers: white;

  /* - default bg color */
  --background: #f8f8f8;

  /* - selected text in editor */
  --selected-text: #ccc;

  /* - bg on .repl .CodeMirror */
  --cm-in-repl-bg: hsl(0,0%,95%);

  /* - cursor color */
  --cursor: #111;

  /* - result of print() in the REPL */
  --repl-print: #111;

  /* - values displayed in the REPL */
  --repl-output: #1f1180;

  /* - brackets around check:...end regions, etc. */
  --matching-brackets: rgb(90, 149, 217);

  /* - bg on regions like check:...end, etc. */
  --matching-region-bg: hsl(220, 100%, 95%);

  /* - bg on span.CodeMirror-nonmatchingbracket-region */
  --nonmatching-bg: #fdc;

  /* 
  - bg on span.CodeMirror-nonmatchingbracket
  - borders on span.CodeMirror-nonmatchingbracket-region */
  --nonmatching-bg-2: #fdd;

  /* - brackets that form a nonmatching region */
  --nonmatching-brackets: #e11;

  /* - bg on div.trace.error */
  --trace-err-bg: #fff6f2;

  /* - borders on spy block */
  --spy-borders: #9DC5ED;

  /* - bg on spy block */
  --spy-bg: #CBDFF2;

  /* - bg on odd table rows of spy block */
  --spy-odd-rows-bg: rgba(255, 255, 255, 0.3);

  /* - bg on even table rows of spy block */
  --spy-even-rows-bg: rgba(255, 255, 255, 0.2);

  /* - box-shadow on hover on errors */
  --err-hover-shadow: hsl(204, 100%, 80%);

  /* - default bg on check blocks (usually invisible) */
  --check-block-default-bg: #E1F5FE;

  /* - bg on failed check block */
  --check-fail-bg: #FFECB3;

  /* 
  - bg on erroring check block
  - bg & box-shadow on .editor-check-block-error */
  --check-error-bg: hsl(0, 100%, 90%);

  /* - bg on passing check blocks */
  --check-success-bg: #c5e1a5;

  /* - text color in testing summary */
  --testing-summary: white;

  /* - bg on testing summary */
  --testing-summary-bg: hsl(212, 62%, 50%);

  /* - bg of summary of failed tests */
  --summary-fail-bg: hsl(45, 100%, 85%);

  /* - bg of summary of passed tests */
  --summary-pass-bg: hsl(88, 51%, 76%);

  /* - bg of announcement in summary that tests errored */
  --summary-error-bg: hsla(0,100%,73%,1);

  /* - announcement text that tests errored in testing summary */
  --summary-err: white;

  /* - vertical border on left of announcement of erroring tests in summary */
  --summary-err-left-border: hsl(0, 100%, 100%);

  /* - bg on spotlighted text (should match default bg) */
  --spotlighted-text-bg: white;

  /* - border below .highlight and .hinted-highlight */
  --highlight-underline: hsla(0, 0%, 0%,.5);

  /* - text color in a.highlight */
  --highlight-text: #000;

  /* - box-shadow on hover over image thumbnail in REPL */
  --img-thumbnail-shadow: rgba(128,0,0,0.75);

  /* - dotted border around compile/parse errors */
  --err-dotted-border: #FF3131;

  /* - bg on compile/parse errors */
  --err-bg: #FFF2F2;

  /* - links within compile/parse errors */
  --err-link: #469ad4;

  /* - darker color in REPL handle gradient */
  --repl-handle-gradient-darker: #BFBFBF;

  /* - lighter color in REPL handle gradient */
  --repl-handle-gradient-lighter: #D9D9D9;

  /* - border on REPL handle */
  --repl-handle-border: #A6A6A6;
  
  /* - bg of header within a focused failing test (contains "Test n: Failed") */
  --failing-test-header-bg: hsl(45, 100%, 85%);

  /* - bg of failing test NOT in focus */
  --failing-test-bg: hsl(45, 100%, 94%);

  /* - bg of passing test */
  --passing-test-bg: hsl(90,  50%, 91%);

  /* - border around errors/tests with highlights active */
  --highlights-active-border: hsl(204, 100%, 74%);

  /* - bg on check block errors/tests with highlights active */
  --highlights-active-bg: hsla(0,0%,100%,.9);

  /* - bg behind "Processing Result..." in check-block-error:empty */
  --empty-check-err-bg: rgba(255,255,255,0.4);

  /* - bg of code snippets within check block tests */
  --check-block-snippet-bg: rgba(255,255,255,0.5);

  /* - CodeMirror gutter marker bg for failed test */
  --failed-test-gutter-marker: hsla(45, 90%, 50%, 0.5);

  /* - dashed border around CodeMirror snippets */
  --snippet-border: hsl(0, 0%, 50%);

  /* - CodeMirror snippet header bg color */
  --snippet-header-bg: hsl(0, 0%, 97%);

  /* - border between snippet header & code */
  --snippet-header-border: hsl(0, 0%, 60%);

  /* - bg on non-spotlighted elements during spotlight */
  --non-spotlight-bg: rgb(150,150,150);

  /* - bg on check block containing spotlighted test */
  --surrounding-check-spotlight-bg: hsl(45, 9%, 66%);
}