
body.fried .cm-s-default.CodeMirror { 
    background: #ffb500 !important; 
    color: #d8dee9 !important;
    /* font-family: serif !important; */
}

body.fried .cm-s-default div.CodeMirror-selected { background: #bc1300 !important; }
body.fried .cm-s-default .CodeMirror-line::selection,
body.fried .cm-s-default .CodeMirror-line > span::selection,
body.fried .cm-s-default .CodeMirror-line > span > span::selection { background: #ffb500 !important; }
body.fried .cm-s-default .CodeMirror-line::-moz-selection,
body.fried .cm-s-default .CodeMirror-line > span::-moz-selection,
body.fried .cm-s-default .CodeMirror-line > span > span::-moz-selection { background: #3b4252 !important; }
body.fried .cm-s-default .CodeMirror-gutters { background: #ffb500 !important; border-right: 0px !important; }
body.fried .cm-s-default .CodeMirror-guttermarker { color: #2e3440 !important; }
body.fried .cm-s-default .CodeMirror-guttermarker-subtle { color: #ffb500 !important; }
body.fried .cm-s-default .CodeMirror-linenumber { color: #bc1300 !important; }
body.fried .cm-s-default .CodeMirror-cursor { border-left: 1px solid #f8f8f0 !important; }

body.fried .cm-s-default span.cm-comment { color: #fcff1f !important; }
body.fried .cm-s-default span.cm-atom { color: #dd00e9 !important; }
body.fried .cm-s-default span.cm-number { color: #dd00e9 !important; }

body.fried .cm-s-default span.cm-comment.cm-attribute { color: #ffb500 !important; }
body.fried .cm-s-default span.cm-comment.cm-def { color: #00bc16 !important; }
body.fried .cm-s-default span.cm-comment.cm-tag { color: #bc1300 !important; }
body.fried .cm-s-default span.cm-comment.cm-type { color: #00d6ff !important; }

body.fried .cm-s-default span.cm-property,
body.fried .cm-s-default span.cm-attribute { color: #0015bc !important; }
body.fried .cm-s-default span.cm-keyword { color: #00d6ff !important; }
body.fried .cm-s-default span.cm-builtin { color: #00d6ff !important; }
body.fried .cm-s-default span.cm-string { color: #00bc16 !important; }

body.fried .cm-s-default span.cm-variable { color: #dd00e9 !important; }
body.fried .cm-s-default span.cm-variable-2 { color: #d8dee9 !important; }
body.fried .cm-s-default span.cm-variable-3,
body.fried .cm-s-default span.cm-type { color: white !important; }
body.fried .cm-s-default span.cm-def { color: #00bc16 !important; }
body.fried .cm-s-default span.cm-bracket { color: #00d6ff !important; }
body.fried .cm-s-default span.cm-tag { color: #bc1300 !important; }
body.fried .cm-s-default span.cm-header { color: #00bc16 !important; }
body.fried .cm-s-default span.cm-link { color: #bc1300 !important; }
body.fried .cm-s-default span.cm-error { background: #bc1300 !important; color: #f8f8f0 !important; }

body.fried .cm-s-default .CodeMirror-activeline-background { background: #3b4252 !important; }
body.fried .cm-s-default .CodeMirror-matchingbracket {
    text-decoration: underline !important;
    color: white !important !important;
}

/* this handles selected regions (by mouse dragging) */
body.fried .cm-s-default div.CodeMirror-selected,
body.fried span.CodeMirror-selectedtext { background: #bc1300 !important; }


/*  Below handles regions automatically highlighted by Pyret
    (e.g. "fun ... end") */
body.fried div.CodeMirror span.CodeMirror-matchingbracket-region {
  position: relative;
  background-color: #bc1300 !important;
  border-top: 0.1em solid #bc1300 !important;
  border-bottom: 0.1em solid #bc1300 !important;
}

body.fried div.CodeMirror span.CodeMirror-matchingbracket-region:last-of-type {
  box-shadow: 0.5em 0 0.25em #bc1300 !important;
}
body.fried div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type {
  box-shadow: -0.5em 0 0.25em #bc1300 !important;
}
body.fried div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type:last-of-type {
  box-shadow: -0.5em 0 0.25em #bc1300, 0.5em 0 0.25em #bc1300 !important;
}
body.fried div.CodeMirror span.CodeMirror-matchingbracket.open {
box-shadow: -0.3ex 0 0.3ex #bc1300 !important;
}
body.fried div.CodeMirror span.CodeMirror-matchingbracket.open:last-of-type {
box-shadow: 0.5em 0 0.25em #bc1300, -0.3ex 0 0.3ex #bc1300 !important;
}
body.fried div.CodeMirror span.CodeMirror-matchingbracket.close {
box-shadow: 0.3ex 0 0.3ex #bc1300 !important;
}
body.fried div.CodeMirror span.CodeMirror-matchingbracket.close:first-of-type {
box-shadow: -0.5em 0 0.25em #bc1300, 0.3ex 0 0.3ex #bc1300 !important;
}

/* Interactions Window */
body.fried .repl,
body.fried #loader {
    background-color: #ffb500 !important;
}
