/*
ICEcoder default theme by Matt Pass, used in code editor available at https://icecoder.net
*/

body.icecoder .cm-s-default { color: #d8dee9 !important; background: #1d1d1b !important; }

body.icecoder .cm-s-default span.cm-keyword { color: #eee !important; font-weight:bold !important; }  /* off-white 1 */
body.icecoder .cm-s-default span.cm-atom { color: #e1c76e !important; }                    /* yellow */
body.icecoder .cm-s-default span.cm-number { color: #6cb5d9 !important; }                  /* blue */
body.icecoder .cm-s-default span.cm-def { color: #b9ca4a !important; }                     /* green */

body.icecoder .cm-s-default span.cm-variable { color: #6cb5d9 !important; }                /* blue */
body.icecoder .cm-s-default span.cm-variable-2 { color: #cc1e5c !important; }              /* pink */
body.icecoder .cm-s-default span.cm-variable-3,
body.icecoder .cm-s-default span.cm-type { color: #b616b6 !important; } /* orange */

body.icecoder .cm-s-default span.cm-property { color: #eee !important; }                   /* off-white 1 */
body.icecoder .cm-s-default span.cm-operator { color: #9179bb !important; }                /* purple */
body.icecoder .cm-s-default span.cm-comment { color: #5c6970 !important; }                 /* grey-blue */

body.icecoder .cm-s-default span.cm-string { color: #b9ca4a !important; }                  /* green */
body.icecoder .cm-s-default span.cm-string-2 { color: #6cb5d9 !important; }                /* blue */

body.icecoder .cm-s-default span.cm-meta { color: #555 !important; }                       /* grey */

body.icecoder .cm-s-default span.cm-qualifier { color: #555 !important; }                  /* grey */
body.icecoder .cm-s-default span.cm-builtin { color: #214e7b !important; }                 /* bright blue */
body.icecoder .cm-s-default span.cm-bracket { color: #cc7 !important; }                    /* grey-yellow */

body.icecoder .cm-s-default span.cm-tag { color: #e8e8e8 !important; }                     /* off-white 2 */
body.icecoder .cm-s-default span.cm-attribute { color: #099 !important; }                  /* teal */

body.icecoder .cm-s-default span.cm-header { color: #6a0d6a !important; }                  /* purple-pink */
body.icecoder .cm-s-default span.cm-quote { color: #186718 !important; }                   /* dark green */
body.icecoder .cm-s-default span.cm-hr { color: #888 !important; }                         /* mid-grey */
body.icecoder .cm-s-default span.cm-link { color: #e1c76e !important; }                    /* yellow */
body.icecoder .cm-s-default span.cm-error { color: #d00 !important; }                      /* red */

body.icecoder .cm-s-default .CodeMirror-cursor { border-left: 1px solid white !important; }
body.icecoder .cm-s-default div.CodeMirror-selected { color: #fff !important; background: #037 !important; }
body.icecoder .cm-s-default .CodeMirror-gutters { background: #1d1d1b !important; min-width: 41px !important; border-right: 0 !important; }
body.icecoder .cm-s-default .CodeMirror-linenumber { color: #555 !important; cursor: default !important; }
body.icecoder .cm-s-default .CodeMirror-matchingbracket { color: #fff !important !important; background: #555 !important !important; }
body.icecoder .cm-s-default .CodeMirror-activeline-background { background: #000 !important; }

body.icecoder .cm-s-default .cm-roughnum {
  color: #cc1e5c !important;
  font-weight: bold !important;
}

body.icecoder .cm-s-default .cm-boolean {
  color: #cc1e5c !important;
  font-weight: bold !important;
}

body.icecoder .cm-s-default .cm-function-name {
  color: #b6c0c8 !important;
}

/* this handles selected regions (by mouse dragging) */
body.icecoder .cm-s-default div.CodeMirror-selected,
body.icecoder span.CodeMirror-selectedtext { background: #2c2c28 !important; }

/*  Below handles regions automatically highlighted by Pyret
    (e.g. "fun ... end") */
body.icecoder div.CodeMirror span.CodeMirror-matchingbracket-region {
  position: relative;
  background-color: #2c2c28 !important;
  border-top: 0.1em solid #2c2c28 !important;
  border-bottom: 0.1em solid #2c2c28 !important;
}

body.icecoder div.CodeMirror span.CodeMirror-matchingbracket-region:last-of-type {
  box-shadow: 0.5em 0 0.25em #2c2c28 !important;
}
body.icecoder div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type {
  box-shadow: -0.5em 0 0.25em #2c2c28 !important;
}
body.icecoder div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type:last-of-type {
  box-shadow: -0.5em 0 0.25em #2c2c28, 0.5em 0 0.25em #2c2c28 !important;
}
body.icecoder div.CodeMirror span.CodeMirror-matchingbracket.open {
box-shadow: -0.3ex 0 0.3ex #2c2c28 !important;
}
body.icecoder div.CodeMirror span.CodeMirror-matchingbracket.open:last-of-type {
box-shadow: 0.5em 0 0.25em #2c2c28, -0.3ex 0 0.3ex #2c2c28 !important;
}
body.icecoder div.CodeMirror span.CodeMirror-matchingbracket.close {
box-shadow: 0.3ex 0 0.3ex #2c2c28 !important;
}
body.icecoder div.CodeMirror span.CodeMirror-matchingbracket.close:first-of-type {
box-shadow: -0.5em 0 0.25em #2c2c28, 0.3ex 0 0.3ex #2c2c28 !important;
}


/* Interactions Window */
body.icecoder .repl,
body.icecoder #loader {
  background-color: #1d1d1b !important;
}
