
/* color palette for this theme */
body.TEMPLATE {
  --yellow: #FEFF9D;
  --light-gray: #b3b3b3;
  --dark-gray: #1a1a1a;
}

/* variables that determine the theme's color scheme */
body.TEMPLATE {
  /* syntax-highlighting */
  --default-text:     var(--dark-gray); /* default program text */
  --cursor:           var(--dark-gray); /* cursor */
  --comment:          var(--dark-gray); /* code comments */
  --boolean:          var(--dark-gray); /* booleans */
  --builtin:          var(--dark-gray); /* builtins */
  --function-name:    var(--dark-gray); /* function names */
  --variable:         var(--dark-gray); /* variables */
  --keyword:          var(--dark-gray); /* keywords */
  --number:           var(--dark-gray); /* regular numbers */
  --roughnum:         var(--dark-gray); /* rough nums */
  --bad-number:       var(--dark-gray); /* bad numbers */
  --string:           var(--dark-gray); /* strings */
  --unterm-string:    var(--dark-gray); /* unterminated strings */
  --type:             var(--dark-gray); /* types */
  --cptteach-fixed:   var(--dark-gray);

  --failed-test-marker:     var(--dark-gray); /* bg of line number indicating failed test */
  --region-highlight:       var(--light-gray); /* region highlighted by (check: ... end) or mouse drag, etc. */
  --matching-bracket:       var(--dark-gray); /* right angle brackets surrounding highlighted text */
  --nonmatching-highlight:  var(--yellow);  /* bg of nonmatching regions (e.g. (} )*/

  --background:           var(--yellow); /* main background */
  --background-darker:    var(--yellow); /* darker background */
  --background-darker-2:  var(--yellow); /* even darker background */
  --background-lighter:   var(--yellow); /* lighter background */
  --background-lighter-2: var(--yellow); /* even lighter background */

  --check-pass:         var(--yellow); /* check block bg color */
  --check-pass-lighter: var(--yellow); /* lighter than check bg */
  --check-fail:         var(--yellow); /* check fail bg color */
  --check-fail-lighter: var(--yellow);/* lighter than check fail */

  --check-error:          var(--yellow); /* check blocks with unexpected errors */
  --check-error-lighter:  var(--yellow); /* lighter than check-error */
  --summary-error:        var(--yellow); /* announcement that blocks errored (top) */

  --err-halo-selected:    var(--yellow); /* border around errors currently *in focus* */
  --err-halo-unselected:  var(--yellow); /* border around errors NOT in focus */

  --run-button:   var(--yellow); /* top-right Run button */
  --stop-button:  var(--yellow); /* top-right Stop button */
  --footer:       var(--yellow); /* footer with login info / save info */
}

/* wrapper on entire editor */
body.TEMPLATE .CodeMirror, 
body.TEMPLATE .inlineExample {
  background: var(--background);
  color: var(--background);
}

/* REPL and editor */
body.TEMPLATE .repl .CodeMirror {
  background-color: var(--background);
}

/* syntax highlighting */
body.TEMPLATE .CodeMirror div.CodeMirror-cursor { border-left: 2px solid #111; }
body.TEMPLATE .cm-s-default.CodeMirror { color: var(--default-text); }
body.TEMPLATE .cm-s-default .cm-comment { color: var(--comment); }
body.TEMPLATE .cm-s-default .cm-boolean { color: var(--boolean); }
body.TEMPLATE .cm-s-default .cm-builtin { color: var(--builtin); }
body.TEMPLATE .cm-s-default .cm-function-name { color: var(--function-name); }
body.TEMPLATE .cm-s-default .cm-variable { color: var(--variable); }
body.TEMPLATE .cm-s-default .cm-keyword { color: var(--keyword); font-weight: bold; }
body.TEMPLATE .cm-s-default .cm-number { color: var(--number); }
body.TEMPLATE .cm-s-default .cm-roughnum { color: var(--roughnum); }
body.TEMPLATE .cm-s-default .cm-bad-number { color: var(--bad-number); font-weight: bold; }
body.TEMPLATE .cm-s-default .cm-string { color: var(--string); }
body.TEMPLATE .cm-s-default .cm-unterminated-string { color: var(--unterm-string); font-weight: bold; }
body.TEMPLATE .cm-s-default .cm-type { color: var(--type); }
body.TEMPLATE .cptteach-fixed { background: var(--cptteach-fixed); }

/* text selected by mouse */
body.TEMPLATE div.CodeMirror-selected,
body.TEMPLATE span.CodeMirror-selectedtext {
  background-color: var(--region-highlight) !important;
}

/* right angles surrounding matched regions */
body.TEMPLATE .CodeMirror-matchingbracket::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0px solid var(--matching-bracket);
  z-index: 1000;
}

/* highlighting of matched regions such as (fun ... end), etc. */
body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket-region {
  background-color: var(--region-highlight);
  border-top: 0.1em solid var(--region-highlight);
  border-bottom: 0.1em solid var(--region-highlight);
}

body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket-region:last-of-type {
    box-shadow: 0.5em 0 0.25em var(--region-highlight);
}
body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type {
    box-shadow: -0.5em 0 0.25em var(--region-highlight);
}
body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type:last-of-type {
    box-shadow: -0.5em 0 0.25em var(--region-highlight), 0.5em 0 0.25em var(--region-highlight);
}
body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket.open {
  box-shadow: -0.3ex 0 0.3ex var(--region-highlight);
}
body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket.open:last-of-type {
  box-shadow: 0.5em 0 0.25em var(--region-highlight), -0.3ex 0 0.3ex var(--region-highlight);
}
body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket.close {
  box-shadow: 0.3ex 0 0.3ex var(--region-highlight);
}
body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket.close:first-of-type {
  box-shadow: -0.5em 0 0.25em var(--region-highlight), 0.3ex 0 0.3ex var(--region-highlight);
}

body.TEMPLATE .CodeMirror-matchingbracket.close::before {
  border-width: 0px 0.3ex 0.3ex 0px;
  border-bottom-right-radius: 0.4ex;
  margin: 0.3ex;
}

body.TEMPLATE .CodeMirror-matchingbracket.open::before {
  border-width: 0.3ex 0px 0px 0.3ex;
  border-top-left-radius: 0.4ex;
  margin: -0.3ex;
}

body.TEMPLATE div.CodeMirror span.CodeMirror-matchingbracket {
  color: initial;
}

body.TEMPLATE div.CodeMirror span.CodeMirror-nonmatchingbracket {
  background-color: var(--nonmatching-highlight);
  color: var(--check-error);
}

body.TEMPLATE div.CodeMirror span.CodeMirror-nonmatchingbracket-region {
  background-color: var(--nonmatching-highlight);
  border-top: 0.1em solid var(--nonmatching-highlight);
  border-bottom: 0.1em solid var(--nonmatching-highlight);
}

body.TEMPLATE div.trace.error {
   background-color: var(--check-error-lighter);
}

body.TEMPLATE div.spy-block {
  border: 1px solid var(--background-darker-2);
  box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
  background: var(--background-darker);
}

body.TEMPLATE div.spy-block > .spy-title {
   border-bottom: 1px solid var(--background-darker-2);
}

body.TEMPLATE div.spy-block > table > tbody > tr {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid var(--background-darker-2);
}

body.TEMPLATE div.spy-block > table > tbody > tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

body.TEMPLATE div.spy-block > table > tbody > tr > td {
    border-right:  1px solid var(--background-darker-2);
}

body.TEMPLATE .test-reason:not(.highlights-active) .highlight {
  background: initial!important;
}

body.TEMPLATE #output > .compile-error:not(.highlights-active):hover:after,
body.TEMPLATE .check-block-error > .compile-error:not(.highlights-active):hover::after,
body.TEMPLATE .check-block-test.failing-test:not(.highlights-active):hover {
    box-shadow: 0 0 2em hsl(204, 100%, 80%);
}

body.TEMPLATE #output > .compile-error:not(.highlights-active):hover:after,
body.TEMPLATE .check-block-error > .compile-error:not(.highlights-active):hover::after,
body.TEMPLATE .check-block-test.failing-test:not(.highlights-active):hover::after{
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%);
}

body.TEMPLATE .repl {
  background-color: #f8f8f8;
}

body.TEMPLATE .check {
  border: 1px solid black;
}

body.TEMPLATE .check-success {
  background-color: #cfc;
}

body.TEMPLATE .check-failure {
  background-color: #d66;
}

body.TEMPLATE .check-block {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
  background: #E1F5FE;
}

body.TEMPLATE .check-block-failed {
  background-color: #FFECB3;
}

body.TEMPLATE .check-block-errored {
  background-color: hsl(0, 100%, 90%);
}

body.TEMPLATE .check-block-success {
  background-color: #c5e1a5;
}

body.TEMPLATE .testing-summary{
  color: white;
  background: hsl(212, 62%, 50%);
}

body.TEMPLATE .check-block-test {
  background-image: linear-gradient(0deg,hsla(0, 0%, 0%,.5),hsla(0, 0%, 0%, 0));
}

body.TEMPLATE .progressStep {
  border: 1px solid black;
}

body.TEMPLATE .progressStep.done {
  background-color: green;
}

body.TEMPLATE .progressDone {
  color: green;
}

body.TEMPLATE .instructionsWidget {
  background-color: #fcf;
  border: 1px dotted #c0c;
  color: #111;
}

body.TEMPLATE .instructionsWidget .toggleInstructions {
  color: #666;
}

body.TEMPLATE #program-name-container input {
  background: #FEFEFE;
}

body.TEMPLATE #welcome {
  color: #eeeeee;
}

body.TEMPLATE .notificationArea {
  background: #111111;
}

body.TEMPLATE .notificationArea .active {
  color: #eee;
}

body.TEMPLATE .notificationArea .error {
  color: #F44336;
}

body.TEMPLATE .notificationArea .autoCorrect-msg{
  color: #eee;
}

body.TEMPLATE .notificationArea .autoCorrect-button{
  color: #F44336;
}

body.TEMPLATE .menuContents {
  background-color: #EFEFEF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

body.TEMPLATE .menuContents div:not(.disabled):not(.inert):hover{
  background-color: rgba(0,0,0,0.2);
}

body.TEMPLATE .menuContents div.disabled * {
   color: gray;
}

body.TEMPLATE .menuButton *,
body.TEMPLATE .menuContents * {
  color: #000;
}

body.TEMPLATE .info-btn {
  color: white;
  background-color: #317bcf;
}

body.TEMPLATE .info-btn:hover {
  background-color: #0060ce;
}

body.TEMPLATE div#font{
  border: 1px solid rgba(0,0,0,0.1);
  background:rgba(0,0,0,0.05);
}

body.TEMPLATE div#font:hover{
  background:rgba(0,0,0,0.05);
}

body.TEMPLATE #font-label{
  border: 1px solid rgba(0,0,0,0.1);
}

body.TEMPLATE .replPrint {
  color: #111;
}

body.TEMPLATE .replOutput {
  color: #1f1180;
}

body.TEMPLATE .replOutput.expanded > dl {
   border: 1px solid gray;
}

body.TEMPLATE .replOutputPassed {
  color: #1f9180;
}

body.TEMPLATE .replOutputFailed {
  color: #af1180;
}

body.TEMPLATE .test-reason, 
body.TEMPLATE .nestedReason {
 color: #af1180;
}

body.TEMPLATE .rationalNumber {
 color: #af1180;
}

body.TEMPLATE .replImageThumbnail canvas {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

body.TEMPLATE .replImageThumbnail:hover canvas {
  box-shadow: 0px 2px 4px rgba(128,0,0,0.75);
}

body.TEMPLATE .error-highlight {
  background-color: #fcc !important;
  border-bottom: 2px solid #F33 !important;
}

body.TEMPLATE .loc-anchor {
  border-bottom: 2px solid currentColor;
}

body.TEMPLATE .test-reason {
  color: black;
}

body.TEMPLATE a.highlight {
  color: #000 !important;
}

body.TEMPLATE .hinted-highlight {
  border-bottom: 2px hsla(0, 0%, 0%,.5) solid;
}

body.TEMPLATE .highlight {
  border-bottom: 2px hsla(0, 0%, 0%,.5) solid;
}

body.TEMPLATE .highlight.emphasize:not(:hover)::before {
  box-shadow:0 0 200px 1em black;
}

body.TEMPLATE .emphasize-line {
  background-color:#BBB;
}

body.TEMPLATE .underline:not(:hover) {
  background-color: initial;
}

body.TEMPLATE .check-highlight {
 background-color: #CCF;
 border-bottom: 2px solid #33F;
}

body.TEMPLATE .compile-error {
  border: 1px dashed #FF3131;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
  background: #FFF2F2;
}

body.TEMPLATE .compile-error a {
  color: #469ad4;
}

body.TEMPLATE .parse-error {
  border: 1px dashed #FF3131;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.25);
  background: #FFF2F2;
}

body.TEMPLATE .error-icon {
  color: #f33;
}

body.TEMPLATE .parse-error a {
  color: #469ad4;
}

body.TEMPLATE .warning-upper {
  background-image:
      url('/img/up-arrow.png'),
      linear-gradient(to bottom,  hsla(0,100%,89%,1) 0%,rgba(145,78,78,0) 50%);
}

body.TEMPLATE .warning-lower {
  background-image:
      url('/img/down-arrow.png'),
      linear-gradient(to top,  hsla(0,100%,89%,1) 0%,rgba(145,78,78,0) 50%);
}

body.TEMPLATE .topbar {
  background-color: #eee;
}

/* From internet: http://stackoverflow.com/questions/5663137/jquery-modal-dialog-is-hidden-by-overlay-div-if-dialogs-parent-has-fixed-positi */
body.TEMPLATE .ui-widget-overlay{
  background: #111;
}
/* end from internet */

body.TEMPLATE .ui-dialog {
  border: 2px solid #111;
  background-color: #eee;
}

body.TEMPLATE .ui-dialog-titlebar {
  background-color: #2a348b;
}

body.TEMPLATE .ui-dialog-title {
  color: #eee;
}

/* Resizable REPL */
body.TEMPLATE #handle{
  background:-webkit-linear-gradient(left, #BFBFBF 0%,#D9D9D9 40%,#D9D9D9 60%,#BFBFBF 100%);
  background:-o-linear-gradient(left, #BFBFBF 0%,#D9D9D9 40%,#D9D9D9 60%,#BFBFBF 100%);
  background:-moz-linear-gradient(left, #BFBFBF 0%,#D9D9D9 40%,#D9D9D9 60%,#BFBFBF 100%);
  background:linear-gradient(to right, #BFBFBF 0%,#D9D9D9 40%,#D9D9D9 60%,#BFBFBF 100%);
  border: 1px solid #A6A6A6;
}

body.TEMPLATE #runButton, 
body.TEMPLATE #breakButton {
  box-shadow: 0px -5px 5px 1px rgba(0,0,0,0.2);
}

body.TEMPLATE #runButton:disabled, 
body.TEMPLATE #breakButton:disabled {
  background: none;
  box-shadow: none;
}

body.TEMPLATE #runButton{
  background: #317BCF;
}

body.TEMPLATE #runButton:hover{
  background:#0060CE;
}

body.TEMPLATE #breakButton{
  background:#CF3B31;
}

body.TEMPLATE #breakButton:hover{
  background:#B30C00;
}

body.TEMPLATE #runButton:hover,
body.TEMPLATE #breakButton:hover{
  box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.2);
}

body.TEMPLATE #runButton:hover[disabled], 
body.TEMPLATE #breakButton:hover[disabled] {
  background: none;
  box-shadow: none;
}

body.TEMPLATE #runPart {
  background: #317BCF;
}

body.TEMPLATE .dropdown {
  background: #317BCF;
  box-shadow: 0px -2px 5px 2px rgba(0, 0, 0, 0.1);
}

body.TEMPLATE #run-dropdown-content li {
  color: #eeeeee;
  background: #317BCF;
  box-shadow: 0px -2px 5px 2px rgba(0, 0, 0, 0.1);
}

body.TEMPLATE #run-dropdown-content li:hover {
  background:#0060CE;
  box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.2);
}

body.TEMPLATE .dropdown:hover {
  box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.3);
  background:#0060CE;
}

body.TEMPLATE .module-info-hover {
  border: 1px solid #111;
  background-color: #eeeeee;
}

body.TEMPLATE .editor-check-block-success {
  background: hsl(88, 50%, 76%);
  box-shadow: 0 1em 11px 2px hsl(88, 50%, 76%);
}

body.TEMPLATE .editor-check-block-failed {
  background: hsl(45, 100%, 85%);
  box-shadow: 0 0.5em 11px 3px hsl(45, 100%, 85%);
}

body.TEMPLATE .editor-check-block-error {
  background: hsl(0, 100%, 90%);
  box-shadow: 0 1em 11px 2px hsl(0, 100%, 90%);
}

@keyframes emphasize-error {
  from {background-color: white;}
  to {}
}

body.TEMPLATE .check-block-test.failing-test:not(.highlights-active) {
  background-color: hsl(45, 100%, 94%);
}
body.TEMPLATE .check-block-test.passing-test {
  background-color: hsl(90,  50%, 91%);}

body.TEMPLATE #output > .compile-error.highlights-active,
body.TEMPLATE .check-block-error .highlights-active.compile-error,
body.TEMPLATE .check-block-test.highlights-active {
  border: 0.3em hsl(204, 100%, 74%) solid;
}

body.TEMPLATE .check-block-error .highlights-active.compile-error,
body.TEMPLATE .check-block-test.highlights-active {
  background: hsla(0,0%,100%,.9);
}

body.TEMPLATE .test-reason:empty,
body.TEMPLATE .check-block-error:empty {
  color: #555;
}

body.TEMPLATE .check-block-error:empty {
  background-color: rgba(255,255,255,0.4);
}

body.TEMPLATE .check-block-test.failing-test.highlights-active > header {
  background-color: hsl(45, 100%, 85%);
}

body.TEMPLATE .check-block-test .CodeMirror {
  background:rgba(255,255,255,0.5);
}

body.TEMPLATE .errored-test-marker {
  background-color: hsla(0, 100%, 50%, 0.5);
}

body.TEMPLATE .failed-test-marker {
  background-color: hsla(45, 90%, 50%, 0.5);
}

body.TEMPLATE .summary-bits {
  color: black;
}

body.TEMPLATE .summary-bit.summary-passed {
  background: hsl(88, 51%, 76%);
}

body.TEMPLATE .summary-bit.summary-failed {
  background: hsl(45, 100%, 85%);
}

body.TEMPLATE .summary-errored {
  background: hsla(0,100%,73%,1);
  color: white;
}

body.TEMPLATE .summary-text {
  border-left: 1px hsl(0, 100%, 100%) solid;
}

body.TEMPLATE .cm-snippet {
  border: 1px hsl(0, 0%, 50%) dashed;
}

body.TEMPLATE .cm-snippet header {
  background: hsl(0, 0%, 97%);
  box-shadow: 0 0 3px hsla(0,0%,0%,0.5);
  border-bottom: 1px hsl(0, 0%, 60%) solid;
}

body.TEMPLATE #main.spotlight div.CodeMirror span:not(.spotlight) {
  background-color: initial!important;
}

body.TEMPLATE #main.spotlight div.CodeMirror span.spotlight {
  background-color: white!important;
}

body.TEMPLATE #main.spotlight .CodeMirror-matchingbracket,
body.TEMPLATE #main.spotlight .CodeMirror-matchingbracket.open,
body.TEMPLATE #main.spotlight .CodeMirror-matchingbracket.close,
body.TEMPLATE #main.spotlight .CodeMirror-matchingbracket-region,
body.TEMPLATE #main.spotlight .repl-echo > div.CodeMirror,
body.TEMPLATE #main.spotlight .repl,
body.TEMPLATE #main.spotlight .repl-prompt > div.CodeMirror,
body.TEMPLATE #main.spotlight > div.replMain > div.CodeMirror {
  background-color: rgb(150,150,150);
}

body.TEMPLATE #main.spotlight .check-block {
  background-color: hsl(45, 9%, 66%);
}

body.TEMPLATE .stacktrace > div:hover {
  box-shadow:0 0 1em rgba(0,0,0,0.4);
}

body.TEMPLATE table {
    border:1px black solid;
    background:#eee;;
}

body.TEMPLATE div.choiceContainer > button {
  background-color: #317BCF;
  color: #fff;
  transition: box-shadow 0.2s;
}

body.TEMPLATE th {
    background: #ddd;
}

body.TEMPLATE th, td {
    border-right:1px white solid;
}

body.TEMPLATE tr:nth-child(even){background-color: #f2f2f2}

body.TEMPLATE table.pyret-table thead {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
body.TEMPLATE table.pyret-row th {
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2), -2px 0px 2px rgba(0, 0, 0, 0.2);
}
/* NOTE(joe): this helps distinguish a row that appears in a table cell */
body.TEMPLATE table.pyret-row {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* MODAL */
/* The Modal (background) */
body.TEMPLATE .modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
body.TEMPLATE .modal-content {
  background-color: #C8C8C8;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

body.TEMPLATE .modal .submit,
body.TEMPLATE .modal .close  {
  box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.2);
}

body.TEMPLATE .modal .submit{
  background: #317BCF;
}

body.TEMPLATE .modal .submit:hover{
  background:#0060CE;
}

body.TEMPLATE .modal .close{
  background:#CF3B31;
}

body.TEMPLATE .modal .close:hover{
  background:#B30C00;
}

body.TEMPLATE .modal .submit:hover,
body.TEMPLATE .modal .close:hover{
  box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.2);
}

body.TEMPLATE .modal-header {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

body.TEMPLATE .modal-footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

body.TEMPLATE .stale.test-results .stale-warning {
  color: white;
  background-color: hsl(212, 30%, 50%)
}

body.TEMPLATE .stale.test-results .check-block-failed {
  background-color: hsl(45,30%,85%);
}

body.TEMPLATE .stale.test-results .check-block-success {
  background-color: hsl(88, 30%, 76%);
}

body.TEMPLATE .stale.test-results .check-block-errored {
  background-color: hsl(0, 30%, 85%);
}

body.TEMPLATE .stale.test-results .check-block-test.failing-test:not(.highlights-active) {
  background-color: hsl(45, 30%, 93%);
}

body.TEMPLATE .stale.test-results .check-block-test.highlights-active {
  background-color: hsl(45,0%,95%);
}

body.TEMPLATE .stale.test-results .check-block-test.highlights-active > header {
  background-color: hsl(45, 50%, 85%);
}

body.TEMPLATE .stale.test-results .check-block-test.passing-test {
  background-color: hsl(90, 10%, 91%);
}

body.TEMPLATE .stale.test-results .testing-summary .summary-passed {
  background-color: hsl(88, 30%, 76%);
}

body.TEMPLATE .stale.test-results .testing-summary .summary-failed {
  background-color: hsl(45,30%,85%);
}

body.TEMPLATE .stale.test-results .testing-summary .summary-errored {
  background-color: hsl(0, 30%, 70%);
}

body.TEMPLATE .stale .compile-error.highlights-active,
body.TEMPLATE .stale .compile-error.highlights-active,
body.TEMPLATE .stale .check-block-test.highlights-active {
  border-color: hsl(204, 40%, 74%);
}
body.TEMPLATE .error-bg {
  background-color: #FF9494;
}
body.TEMPLATE .ok-bg {
  background-color: #FFFFFF;
}

body.TEMPLATE #help-keys {
  background-color: #ddd;
  border: 50px solid rgba(0, 0, 0, 0.7);
}

body.TEMPLATE #doc-overlay{
  box-shadow: 0px 0px 5px black;
}

body.TEMPLATE #doc-overlay iframe{
  background-color: #ddd;
}

body.TEMPLATE #doc-bar{
  color: #fff;
  background: #C8C8C8;
}

body.TEMPLATE #doc-close{
  background: rgba(0,0,0,0.3);
}

body.TEMPLATE #doc-close:hover{
  background: rgba(0,0,0,0.6);
}

body.TEMPLATE #header {
  background:#C8C8C8;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
}

body.TEMPLATE #showFilename {
  color: rgba(0, 0, 0, 0.5);
}

body.TEMPLATE #header a {
  color: #111;
}

body.TEMPLATE #toolbar {
  background-color: #111;
}

body.TEMPLATE #footer {
  background-color: #111;
}

body.TEMPLATE .blueButton {
  color: #fff;
}

body.TEMPLATE .blueButton:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

body.TEMPLATE .blueButton:disabled {
    color: rgba(0, 0, 0, 0.26);
}

body.TEMPLATE .share {
  background-color: #fefefe;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

body.TEMPLATE .ui-tooltip {
  background: #fff;
}

body.TEMPLATE .ui-tooltip.ui-widget-content {
  background: #fff;
}

body.TEMPLATE .sharebox {
  border: 1px solid #111;
}