body {
  --var-1: black;
  --var-2: #f8f8f8;
  --var-3: #eee;
  --var-4: hsl(0,0%,95%);
  --var-5: #111;
  --var-6: #cd7054;
  --var-7: darkred;
  --var-8: #555;
  --var-9: #374049;
  --var-10: #4d5966;
  --var-11: navy;
  --var-12: blue;
  --var-13: red;
  --var-14: forestgreen;
  --var-15: #ddd;
  --var-16: #ccc;
  --var-17: rgb(90, 149, 217);
  --var-18: hsl(220, 100%, 95%);
  --var-19: #fdd;
  --var-20: #e11;
  --var-21: #fdc;
  --var-22: #fff6f2;
  --var-23: #9DC5ED;
  --var-24: rgba(0,0,0,0.25);
  --var-25: #CBDFF2;
  --var-26: rgba(255, 255, 255, 0.3);
  --var-27: rgba(255, 255, 255, 0.2);
  --var-28: hsl(204, 100%, 80%);
  --var-29: rgba(255, 255, 255, 0.0);
  --var-30: rgba(255, 255, 255, 0.8);
  --var-31: #cfc;
  --var-32: #d66;
  --var-33: #E1F5FE;
  --var-34: #FFECB3;
  --var-35: hsl(0, 100%, 90%);
  --var-36: #c5e1a5;
  --var-37: white;
  --var-38: hsl(212, 62%, 50%);
  --var-39: hsla(0, 0%, 0%,.5);
  --var-40: hsla(0, 0%, 0%, 0);
  --var-41: green;
  --var-42: #fcf;
  --var-43: #c0c;
  --var-44: #666;
  --var-45: #FEFEFE;
  --var-46: #eeeeee;
  --var-47: #111111;
  --var-48: #F44336;
  --var-49: #EFEFEF;
  --var-50: rgba(0, 0, 0, 0.3);
  --var-51: rgba(0,0,0,0.2);
  --var-52: gray;
  --var-53: #000;
  --var-54: #317bcf;
  --var-55: #0060ce;
  --var-56: rgba(0,0,0,0.1);
  --var-57: rgba(0,0,0,0.05);
  --var-58: #1f1180;
  --var-59: #1f9180;
  --var-60: #af1180;
  --var-61: rgba(128,0,0,0.75);
  --var-62: #fcc;
  --var-63: #F33;
  --var-64: #BBB;
  --var-65: #CCF;
  --var-66: #33F;
  --var-67: #FF3131;
  --var-70: #FFF2F2;
  --var-71: #469ad4;
  --var-72: hsla(0,100%,89%,1);
  --var-73: rgba(145,78,78,0);
  --var-74: #2a348b;
  --var-75: #BFBFBF;
  --var-76: #D9D9D9;
  --var-77: #A6A6A6;
  --var-78: #CF3B31;
  --var-79: #B30C00;
  --var-80: hsl(88, 50%, 76%);
  --var-81: hsl(45, 100%, 85%);
  --var-82: hsl(45, 100%, 94%);
  --var-83: hsl(90,  50%, 91%);
  --var-84: hsl(204, 100%, 74%);
  --var-85: hsla(0,0%,100%,.9);
  --var-86: rgba(255,255,255,0.4);
  --var-87: rgba(255,255,255,0.5);
  --var-88: hsla(0, 100%, 50%, 0.5);
  --var-89: hsla(45, 90%, 50%, 0.5);
  --var-90: hsl(88, 51%, 76%);
  --var-91: hsla(0,100%,73%,1);
  --var-92: hsl(0, 100%, 100%);
  --var-93: hsl(0, 0%, 50%);
  --var-94: hsl(0, 0%, 97%);
  --var-95: hsl(0, 0%, 60%);
  --var-96: rgb(150,150,150);
  --var-97: hsl(45, 9%, 66%);
  --var-98: rgba(0,0,0,0.4);
  --var-99: #fff;
  --var-100: #f2f2f2;
  --var-101: #C8C8C8;
  --var-102: #888;
  --var-103: rbga(0,0,0,0.19);
  --var-104: hsl(212, 30%, 50%);
  --var-105: hsl(45,30%,85%);
  --var-106: hsl(88, 30%, 76%);
  --var-107: hsl(0, 30%, 85%);
  --var-108: hsl(45, 30%, 93%);
  --var-109: hsl(45,0%,95%);
  --var-110: hsl(45, 50%, 85%);
  --var-111: hsl(90, 10%, 91%);
  --var-112: hsl(0, 30%, 70%);
  --var-113: hsl(204, 40%, 74%);
  --var-114: #FF9494;
}

.CodeMirror, .inlineExample {
  border: 1px solid var(--var-1);
  background: var(--var-2);
  color: var(--var-3);
  font-family: var(--font-stack);
}
.CodeMirror {
  font-size: 1em;
  line-height: calc(1em + 2px);
}
.replMain .CodeMirror {
  border-top: none;
  border-bottom: none;
}
.repl .CodeMirror {
  background-color: var(--var-4);
  border: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.CodeMirror div.CodeMirror-cursors { z-index: 9500; }
.CodeMirror div.CodeMirror-cursor { border-left: 2px solid var(--var-5); }
.CodeMirror div.CodeMirror-ruler { z-index: 100; }
.CodeMirror div.CodeMirror-ruler.hidden { display: none; }
.cm-s-default.CodeMirror { color: var(--var-1); }
.cm-s-default .cm-comment { color: var(--var-6); }
.cm-s-default .cm-boolean { color: var(--var-7); }
.cm-s-default .cm-builtin { color: var(--var-8); }
.cm-s-default .cm-function-name { color: var(--var-9); }
.cm-s-default .cm-variable { color: var(--var-10); }
.cm-s-default .cm-keyword { color: var(--var-1); font-weight: bold; }
.cm-s-default .cm-number { color: var(--var-11); }
.cm-s-default .cm-roughnum { color: var(--var-12); }
.cm-s-default .cm-bad-number { color: var(--var-13); font-weight: bold; }
.cm-s-default .cm-string { color: var(--var-14); }
.cm-s-default .cm-unterminated-string { color: var(--var-13); font-weight: bold; }
.cm-s-default .cm-type { color: var(--var-9); }
.cptteach-fixed { line-height: 1.5; background: var(--var-15); }

div.CodeMirror-selected,
span.CodeMirror-selectedtext {
  background-color: var(--var-16) !important;
}

.CodeMirror-matchingbracket {
  position: relative;
}

.CodeMirror-matchingbracket::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0px solid var(--var-17);
  z-index: 1000;
}

.CodeMirror-matchingbracket.open::before {
  border-width: 0.3ex 0px 0px 0.3ex;
  border-top-left-radius: 0.4ex;
  margin: -0.3ex;
}

.CodeMirror-matchingbracket.close::before {
  border-width: 0px 0.3ex 0.3ex 0px;
  border-bottom-right-radius: 0.4ex;
  margin: 0.3ex;
}




div.CodeMirror span.CodeMirror-matchingbracket-region {
  position: relative;
  background-color: var(--var-18);
  border-top: 0.1em solid var(--var-18);
  border-bottom: 0.1em solid var(--var-18);
}

div.CodeMirror span.CodeMirror-matchingbracket-region:last-of-type {
    box-shadow: 0.5em 0 0.25em var(--var-18);
}
div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type {
    box-shadow: -0.5em 0 0.25em var(--var-18);
}
div.CodeMirror span.CodeMirror-matchingbracket-region:first-of-type:last-of-type {
    box-shadow: -0.5em 0 0.25em var(--var-18), 0.5em 0 0.25em var(--var-18);
}
div.CodeMirror span.CodeMirror-matchingbracket.open {
  box-shadow: -0.3ex 0 0.3ex var(--var-18);
}
div.CodeMirror span.CodeMirror-matchingbracket.open:last-of-type {
  box-shadow: 0.5em 0 0.25em var(--var-18), -0.3ex 0 0.3ex var(--var-18);
}
div.CodeMirror span.CodeMirror-matchingbracket.close {
  box-shadow: 0.3ex 0 0.3ex var(--var-18);
}
div.CodeMirror span.CodeMirror-matchingbracket.close:first-of-type {
  box-shadow: -0.5em 0 0.25em var(--var-18), 0.3ex 0 0.3ex var(--var-18);
}

div.CodeMirror span.CodeMirror-matchingbracket {
  font-weight: 600;
  color: initial;
}


div.CodeMirror span.CodeMirror-nonmatchingbracket {
  font-weight: bold;
  background-color: var(--var-19);
  color: var(--var-20);
}

div.CodeMirror span.CodeMirror-nonmatchingbracket-region {
  background-color: var(--var-21);
  border-top: 0.1em solid var(--var-19);
  border-bottom: 0.1em solid var(--var-19);
  z-index: 4000;
}

#REPL {
  font-family: sans-serif;
}

.replTextOutput {
  font-family: var(--font-stack);
  border: none;
  background-color: transparent;
  white-space: pre;
}

.replToggle {
  cursor: pointer;
}

div.trace {
  overflow-x: auto;
}
div.trace.error {
   background-color: var(--var-22);
}
span.trace {
   padding-right: 1em;
   font-size: 85%;
   display: none;
}
span.trace:after {
   content: ":";
}

div.spy-block {
  font-family: sans-serif;
  clear: both;
  border: 1px solid var(--var-23);
  padding: 0.2em;
  box-shadow: 0px 4px 5px var(--var-24);
  border-radius: 3px;
  background: var(--var-25);
  margin: 6px;
}

div.spy-block > .spy-title {
   display: block;
   width: 100%;
   border-bottom: 1px solid var(--var-23);
   margin-left: -3px;
   margin-right: -3px;
   padding-left: 3px;
   padding-right: 3px;
}

div.spy-block > img.spyglass {
   float: right;
   width: 50px;
   position: relative;
   z-index: 1;
}

div.spy-block > table {
   margin: 3px;
   margin-bottom: 0px;
   background: transparent;
   overflow: scroll;
}

div.spy-block > table > tbody > tr {
    background: var(--var-26);
    border: 1px solid var(--var-23);
}

div.spy-block > table > tbody > tr:nth-child(even) {
    background: var(--var-27);
}

div.spy-block > table > tbody > tr > td {
    border-right:  1px solid var(--var-23);
}

div.spy-block > table > tbody > tr > td:first-child {
    vertical-align: middle;
}

div.spy-block > table > tbody > td {
    border: 1px solid;
}

div.spy-block > table > th { display: none; }

.test-reason:not(.highlights-active) .highlight {
  background: initial!important;
}

#output > .compile-error:not(.highlights-active):hover:after,
.check-block-error > .compile-error:not(.highlights-active):hover::after,
.check-block-test.failing-test:not(.highlights-active):hover {
    box-shadow: 0 0 2em var(--var-28);
    transform: scale(1.01);
    backface-visibility: hidden;
    transition: scale(1.01) .2s linear;
    border-image-outset: 5px;
}

#output > .compile-error:not(.highlights-active):hover:after,
.check-block-error > .compile-error:not(.highlights-active):hover::after,
.check-block-test.failing-test:not(.highlights-active):hover::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background: linear-gradient(
        45deg,
        var(--var-29) 0%,
        var(--var-27) 37%,
        var(--var-30) 45%,
        var(--var-29) 50%);
    top:0;
    left:0;
    background-size: cover;
    cursor: pointer;
    background-position: 100em;
    background-origin: padding-box;
    background-repeat: no-repeat;
    animation: 0.7s shine linear 1;
}

@keyframes shine {
  from {background-position:0%;}
  to   {background-position:100em;}
}

#output > .compile-error:not(.highlights-active) > *,
.check-block-error > .compile-error:not(.highlights-active) > *,
.check-block-test.failing-test:not(.highlights-active) .test-reason {
  opacity: 0.5;

}

.check-block-header {
    cursor: pointer;
}

.inlineExample {
  font-family: var(--font-stack);
  padding: 0 2px;
}

/* from http://codemirror.net/demo/resize.html */
.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: scroll;
  overflow-x: auto;
  height: auto;
}


.replMain .CodeMirror {
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-right: none; /* Resizable */
}
.replMain .CodeMirror-scroll {
  height: 100%;
}

.repl {
  padding-left: 1em;
  padding-bottom: 5em;
  padding-top: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--var-2);
  cursor: text;
}
.check {
  font-family: var(--font-stack);
  border: 1px solid var(--var-1);
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.check-success {
  background-color: var(--var-31);
}

.check-failure {
  background-color: var(--var-32);
}

.check-block {
  border: none;
  border-radius: 3px;
  margin: .5em;
  padding: .5em;
  box-shadow: 0px 2px 4px var(--var-24);
  background: var(--var-33);
  position:relative;
  cursor:default;
}

.check-block-tests,
.check-block-error{
  margin-top: .5em;
}


.check-block-failed {
  background-color: var(--var-34);
}

.check-block-errored {
  background-color: var(--var-35);
}

.check-block-success {
  background-color: var(--var-36);
  margin: 5px;
}

.check-block-summary {
  display: block;
  font-style: italic;
}

.testing-summary{
  color: var(--var-37);
  background: var(--var-38);
}

.check-block-test{
  position: relative;
  overflow: hidden;
  padding-bottom: .5em;
}

.check-block-test:not(:last-child) {
  margin-bottom: 0.75em;
}

.check-block-test {
  background-image: linear-gradient(0deg,var(--var-39),var(--var-40));
  background-size: 100% .3em;
  background-position:bottom;
  background-repeat: no-repeat;
}


.check-title{
  padding: 5px;
  margin: -5px;
}

.expandText{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: .5em;
  text-decoration: underline;
}

.repl-output {
  padding: 0;
  margin: 0;
}

.steppedGutter {
  width: 25px;
}


.progressContainer {
  width: 90%;
  height: 2em;
  padding: 5px;
  text-align: center;
}

.progressStep {
  display: inline-block;
  vertical-align: top;
  height: 10px;
  border: 1px solid var(--var-1);
}

.progressStep.done {
  background-color: var(--var-41);
}

.progressDone {
  color: var(--var-41);
  font-style: italic;
  text-align: center;
  width: 50%;
  margin: auto;
}

.steppedGutterPart {
  width: 25px;
  padding-right: 3px;
}

.instructionsWidget {
  background-color: var(--var-42);
  border: 1px dotted var(--var-43);
  color: var(--var-5);
  padding: 3px;
  margin: 5px;
  cursor: pointer;
  margin: 5px 5px 5px auto;
}

.instructionsWidget.hidden {
  width: 90px;
}

.instructionsWidget .instructionsContent {
  font-family: serif;
}

.instructionsWidget .toggleInstructions {
  color: var(--var-44);
  float: right;
  font-size: 0.8em;
  padding: 3px;
}

.prompt-container {
  padding-top: 5px;
}
.echo-container {
  overflow: hidden;
  padding-top: 5px;
}

.repl-prompt {
  width: 100%;
  display: inline-block;
}

.repl-echo::before,
.repl-prompt::before {
  content: '\203a\203a\203a';
  display: inline;
  line-height: calc(1em + 10px);
  float: left;
}

.repl-prompt-arrow {
  font-family: var(--font-stack);
  vertical-align: top;
  display: inline-block;
}

.repl-echo {
  width: 100%;
  display: inline-block;
}

.repl-echo .CodeMirror-cursors {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* prevent the editor to have scroll bar (we use a trick to move a dialog to
  the bottom of the screen so that users can't see, and need to hide the scroll
  bar as a result) */
}

.replMain {
  position: absolute;
  z-index: 8500;
  left: 0;
  width: 50%;
  top:0;
  height: 100%;
  max-height: 100%;
  padding-top: 40px;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin:0;
}

body.hideFooter .replMain {
  padding-bottom: 0rem;
}

body.hideHeader #main {
  padding-top: 0px;
}

body.hideHeader .replMain {
  padding-top: 0px;
}

body.smallHeader .replMain {
  padding-top: 25px;
}

.replContainer {
  position: absolute;
  z-index: 8500;
  left: 50%;
  right: 0;
  width: 50%;
  top:0;
  height: 100%;
  max-height: 100%;
  padding-top: 40px;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin:0;
}

body.hideFooter .replContainer {
  padding-bottom: 0rem;
}

body.hideHeader .replContainer {
  padding-top: 0px;
}

body.smallHeader .replContainer {
  padding-top: 25px;
}

#main {
  width: 100%;
  z-index: 5000;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 14px;
}

#program-name-container {
  display: inline-block;
  font-family: sans-serif;
  vertical-align:top;
  float:left;
  height:100%;
}

#program-name-container input {
  display: inline-block;
  height: 40px;
  padding: 5px;
  vertical-align:top;
  border:none;
  font-size: 18px;
  background: var(--var-45);
  float:left;
  height: 100%;
  box-sizing: border-box;
}

#program-name-container label {
  display: inline-block;
}

#saveButton {
}

#shareContainer {
  display: inline-block;
  height: 100%;
  float:left;
}

#shareContainer div {
  height:100%
}
/*
.notificationArea {
  z-index: 12000;
  width: 35%;
  font-family: sans-serif;
  position:fixed;
  display:block;
  left: 55%;
  bottom: 45px;
}
*/

#welcome {
  color: var(--var-46);
  height: 2.5rem;
  line-height: 2.5rem;
  width: 50%;
  float: left;
}

#welcome .username-message {
  vertical-align: middle;
  line-height: normal;
  padding-left: 2em;
  font-family: sans-serif;
}


.notificationArea {
  background: var(--var-47);
  max-width: 50%;
  float: right;
  font-family: sans-serif;
  height: 2.5rem;
  line-height: 2.5rem;
}

.notificationArea span {
  vertical-align: middle;
  padding-right: 2em;
  line-height: normal;
  display: inline-block;
}

.notificationArea .active {
  color: var(--var-3);
}

.notificationArea .error {
  color: var(--var-48);
  font-weight: bold;
}

.notificationArea .autoCorrect{
  cursor:pointer;
}

.notificationArea .autoCorrect-msg{
  color: var(--var-3);
}

.notificationArea .autoCorrect-button{
  color: var(--var-48);
  font-weight: bold;
  float:right;
}

.logoutOnly {
  display: none;
}

.loginOnly {
  display: none;
}

#bonniemenuContents {
  min-width: 200px;
}
#filemenuContents {
  min-width: 200px;
}
#filemenuContents .hidden { display: none; }

.menuContents {
  background-color: var(--var-49);
  border: none;
  box-shadow: 0px 2px 3px var(--var-50);
  overflow:hidden;
  max-width: min-content;
}

.menuContents div:not(.disabled):not(.inert):hover{
  transition: box-shadow 0.2s;
  background-color: var(--var-51);
}

.menuContents div.disabled * {
   color: var(--var-52);
   cursor: default;
}

.menuButton *,
.menuContents * {
  color: var(--var-53);
  font-family: sans-serif;
  text-decoration: none;
}

.menuButton > *, .menuContents > * {
  padding: 10px;
  display: block;
}

.menuContents > .menuButton * {
  padding: initial;
}


.info-btn {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  font-family: var(--font-stack);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  color: var(--var-37);
  background-color: var(--var-54);
}

.info-btn:hover {
  background-color: var(--var-55);
}

div#font{
  min-width: 180px;
  border: 1px solid var(--var-56);
  border-left: 0px;
  border-right: 0px;
  background:var(--var-57);
  padding: 0px;
}

div#font:hover{
  background:var(--var-57);
  box-shadow: none;
}

#font div{
  margin:0;
  padding: 10px 0px;
  text-align:center;
  display: inline-block;
  font-family:sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;  /* Firefox */
  -ms-user-select: none;   /* IE 10  */
  -o-user-select: none;
  user-select: none;
}

#font-plus{
  width: 20%;
  cursor: pointer;
}

#font-minus{
  width: 20%;
  cursor: pointer;
}

#font-label{
  width: calc(60% - 2px);
  cursor: default;
  padding: 10px 5px;
  border: 1px solid var(--var-56);
  border-top:none;
  border-bottom:none;
}

div#font-label:hover{
  background:none;
  box-shadow:none;
}

.replPrint {
  font-family: var(--font-stack);
  padding-top: 0;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  color: var(--var-5);
}

.replOutput {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  color: var(--var-58);
  display: inline-block;
  font-family: var(--font-stack);
}

.replOutput .replOutput {
   padding-top: 0em;
   padding-bottom: 0em;
   margin-top: 0.2em;
   margin-bottom: 0.2em;
}

.replOutput ul.collection > li.expanded > span.contents > .replOutput,
.replOutput ul.inlineCollection > li.expanded > span.contents > .replOutput {
   margin-top: 0em;
   margin-bottom: 0em;
}

.replToggle > .hidden { display: none; }

/* definition lists for objects */
.replOutput.expanded > dl > .collapsed, .replOutput.expanded > .collapsed { display: none; }
.replOutput:not(.expanded) > dl > .expanded:not(.replOutput),
.replOutput:not(.expanded) > .expanded:not(.replOutput) { display: none; }

.replOutput.expanded > dl {
   border: 1px solid var(--var-52);
}

.replOutput > dl { display: inline; }
.replOutput.expanded > dl {
   display: table;
   clear: both;
}
.replOutput > dl > dt.label:after {
   content: ":";
   padding-right: 0.5em;
}
.replOutput > dl > dt { display: inline; }
.replOutput.expanded > dl > dt {
   float: left;
   clear: left;
   padding: 0 1em;
}
.replOutput > dl > dd { display: inline-block; }
.replOutput.expanded > dl > dd {
   float: left;
}
.replOutput > dl > dd:not(:last-of-type):after {
   padding-right: 0.5em;
}

/* expandable lists for collections */
ul.collection { margin: 0; }
ul.collection > li {
   margin-left: 1em;
   clear: both;
}
ul.collection > li > span.label:before { padding-left: 0.5em; }
ul.collection > li > span.label:after { content: ":"; padding-right: 0.5em; }
ul.collection > li > span.label.expandable:before { content: "\025B8"; }
ul.collection > li > span.contents {
   display: none;
}
ul.collection > li.expanded > span.contents { display: inline; }
ul.collection > li.expanded > span.label.expandable:before { content: "\025BE"; }

ul.inlineCollection {
  display: inline;
  margin: 0;
}
ul.inlineCollection > li {
  display: inline;
}
ul.inlineCollection > li > span.label {
  display: none;
}




.replOutputPassed {
  padding-top: 0;
  padding-bottom: 0.5em;
  color: var(--var-59);
}

.replOutputFailed {
  padding-top: 0;
  padding-bottom: 0.5em;
  color: var(--var-60);
}

.test-reason, .nestedReason {
 padding-top: 0;
 color: var(--var-60);
}

.rationalNumber {
 color: var(--var-60);
}

span.rationalRepeat {
  text-decoration: overline;
}

.has-icon { position: relative; }

.replImageThumbnail canvas {
  cursor: pointer;
  box-shadow: 0px 2px 4px var(--var-24);
  margin: 2px;
  position: relative;
}

.replImageThumbnail:hover canvas {
  cursor: pointer;
  box-shadow: 0px 2px 4px var(--var-61);
  margin: 2px;
}

.has-icon .info-icon {
   display: none;
   position: absolute;
   bottom: 0;
   right: 0;
}

.has-icon .info-icon-top {
   display: none;
   position: absolute;
   top: 0;
   right: 0;
}

.has-icon:hover .info-icon-top {
   cursor: pointer;
   display: initial;
}

.has-icon:hover .info-icon {
   cursor: pointer;
   display: initial;
}

.error-highlight {
  background-color: var(--var-62) !important;
  border-bottom: 2px solid var(--var-63) !important;
}

.loc-anchor {
  border-bottom: 2px solid currentColor;
}

.test-reason {
  padding: 0.5em;
  color: var(--var-1);
}

.test-reason > br,
.compile-error > br,
.parse-error > br {
  display:none;
}

.test-reason,
.parse-error,
.compile-error {
  display: block;
  position: relative;
  line-height: 1.5;
}

.compile-error > p > code:only-child {
  margin-left: 1.5em;
}

a.highlight {
  color: var(--var-53) !important;
}

#output .highlight {
  cursor: pointer;
}

.hinted-highlight {
  cursor: pointer;
  border-bottom: 2px var(--var-39) solid;
}

.highlight {
  border-bottom: 2px var(--var-39) solid;
}

.highlight-blink {
  animation: pulse 0.4s infinite alternate
}

@keyframes pulse {
  from {
  }
  to {
  background-color:transparent;
  }
}

@keyframes pulse-underline {
  from {
  }
  to {
  background-color:transparent;
  border-color:transparent;
  }
}

.test-reason > code,
.test-reason > .replOutput,
.test-reason > .replTextOutput,
.compile-error > code,
.compile-error > .replOutput,
.compile-error > .replTextOutput,
.parse-error > code,
.parse-error > .replOutput,
.parse-error > .replTextOutput {
  margin-left:2em;
}

code div {
  display:inline;
}

.highlight.emphasize:not(:hover)::before {
  content : '';
  position: absolute;
  margin-left: 1em;
  height: 1em;
  width: 1em;
  box-shadow:0 0 200px 1em var(--var-1);
  opacity: 0;
  border-radius: 100%;
  animation: emphasize 0.5s 1;
}

@keyframes emphasize {
  from {
  display: block;
  transform: scale(0);
  opacity: 1.0;
  }
  to {
  display: block;
  transform: scale(10);
  opacity: 0;
  }
}

.emphasize-line {
  background-color:var(--var-64);
  opacity: 1;
  animation: emphasize-line 0.5s;
}

@keyframes emphasize-line {
  from {
  opacity: 1;
  }
  to {
  opacity: 0;
  }
}

.underline:not(:hover) {
  background-color: initial;
}


.check-highlight {
 background-color: var(--var-65);
 border-bottom: 2px solid var(--var-66);
}

.compile-error {
  font-family: sans-serif;
  border: 1px dashed var(--var-67);
  padding: 0.2em;
  box-shadow: 0px 4px 5px var(--var-24);
  border-radius: 3px;
  background: var(--var-70);
  margin: 6px;
}

.compile-error .code {
  font-family: var(--font-stack);
}

.compile-error .srcloc {
  font-family: var(--font-stack);
}

.compile-error a {
  color: var(--var-71);
  cursor: pointer;
}

.parse-error {
  font-family: sans-serif;
  border: 1px dashed var(--var-67);
  /* font-size: 10pt; */
  padding: 3px;
  box-shadow: 0px 4px 5px var(--var-24);
  border-radius: 3px;
  background: var(--var-70);
  margin: 6px;
}

.error-icon {
  size: 16pt;
  color: var(--var-63);
}

.parse-error .code {
  font-family: var(--font-stack);
}

.parse-error .srcloc {
  font-family: var(--font-stack);
}

.parse-error a {
  color: var(--var-71);
  cursor: pointer;
}

.parse-error ul, .compile-error ul {
  list-style-type: disc;
  padding-left: 1em;
}

.parse-error .hint, .compile-error .hint {
   font-style: italic;
}

.warning-upper,
.warning-lower {
  position: absolute;
  height: 2em;
  width: 100%;
  left:0;
  z-index: 3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s linear;
}

.warning-upper.hinting,
.warning-lower.hinting {
  transition: opacity 0.1s linear;
  pointer-events: all;
  opacity: 1;
}

.warning-upper {
  animation-name: arrow-upper-bounce;
  background-image:
      url('/img/up-arrow.png'),
      linear-gradient(to bottom,  var(--var-72) 0%,var(--var-73) 50%);
}

.warning-lower {
  animation-name: arrow-lower-bounce;
  background-image:
      url('/img/down-arrow.png'),
      linear-gradient(to top,  var(--var-72) 0%,var(--var-73) 50%);
}

@keyframes arrow-upper-bounce {
  from {background-position-y: -10px, center;}
  to   {background-position-y: 0;}}
@keyframes arrow-lower-bounce {
  from {background-position-y: 10px, center;}
  to   {background-position-y: 0;}}

.warning-lower {
  bottom:0;
}

#main .warning-upper {
  top:0;
}

.repl > .warning-upper {
  left:0;
  margin-top: 40px;
}

.topbar {
  position: fixed;
  width: 100%;
  background-color: var(--var-3);
}

/* NOTE(joe): removes the white bar in popups */
.ui-widget-content{
  background: none;
}

/* From internet: http://stackoverflow.com/questions/5663137/jquery-modal-dialog-is-hidden-by-overlay-div-if-dialogs-parent-has-fixed-positi */
.ui-widget-overlay{
  position:fixed;
  z-index: 11000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: var(--var-5);
}
/* end from internet */

.ui-dialog {
  border: 2px solid var(--var-5);
  background-color: var(--var-3);
  border-radius: 5px;
  z-index: 15000;
}

.ui-dialog-titlebar {
  background-color: var(--var-74);
}

.ui-dialog-title {
  color: var(--var-3);
  font-family: sans-serif;
  position: relative;
  left: 30px;
}

.ui-dialog-titlebar-close {
  position: relative;
  left: 5px;
  top: 5px;
}

.ui-dialog-titlebar-close .ui-button-text {
  display: none;
}

.ui-dialog-titlebar-close .ui-button-icon-primary:before {
  content: "×"
}

/* Resizable REPL */
#handle{
  background:-webkit-linear-gradient(left, var(--var-75) 0%,var(--var-76) 40%,var(--var-76) 60%,var(--var-75) 100%);
  background:-o-linear-gradient(left, var(--var-75) 0%,var(--var-76) 40%,var(--var-76) 60%,var(--var-75) 100%);
  background:-moz-linear-gradient(left, var(--var-75) 0%,var(--var-76) 40%,var(--var-76) 60%,var(--var-75) 100%);
  background:linear-gradient(to right, var(--var-75) 0%,var(--var-76) 40%,var(--var-76) 60%,var(--var-75) 100%);
  cursor: ew-resize;
  width:5px;
  border: 1px solid var(--var-77);
  border-top: none;
  border-bottom: none;
  top: 0px;
  left: 0px;
  bottom: 0px;
  margin-top: 40px;
  margin-bottom: 2.5rem;
  height:auto;
}

body.hideFooter #handle {
  margin-bottom: 0rem;
}

body.hideHeader #handle {
  margin-top: 0px;
}

body.smallHeader #handle {
  margin-top: 25px;
}

#runButton, #breakButton {
  width: 150px;
  box-shadow: 0px -5px 5px 1px var(--var-51);
}

body.smallHeader #runButton, body.smallHeader #breakButton {
  width: 60px;
}

body.smallHeader #runButton > span {
  display: none;
}

#runButton{
  background: var(--var-54);
}

#runButton:hover{
  background:var(--var-55);
}

#breakButton{
  background:var(--var-78);
}

#breakButton:hover{
  background:var(--var-79);
}

#runButton:hover,
#breakButton:hover{
  box-shadow: 0px -5px 10px 5px var(--var-51);
}

#runButton:disabled, #breakButton:disabled{
  width: 150px;
  background: none;
  box-shadow: none;
}

body.smallHeader #runButton:disabled, body.smallHeader #breakButton:disabled{
  width: 60px;
}


#runButton:hover[disabled],
#breakButton:hover[disabled]{
  background: none;
  box-shadow: none;
}

#runPart {
  background: var(--var-54);
  padding: 0;
  margin: 0;
}

.dropdown {
  background: var(--var-54);
  padding-left: 5px;
  box-sizing: border-box;
  float: right;
  height: 100%;
  width: 20px;
  box-shadow: 0px -2px 5px 2px var(--var-56);
}

#run-dropdown-content {
  position: absolute;
  right: 153px;
  top: 40px;
  margin: 0;
  width: 172px;
  display: none;
}

body.smallHeader #run-dropdown-content {
  top: 25px;
  right: 63px;
}

#run-dropdown-content li {
  color: var(--var-46);
  font-family: sans-serif;
  font-size: 15px;
  height: 23px;
  background: var(--var-54);
  padding: 5px;
  box-shadow: 0px -2px 5px 2px var(--var-56);
  text-align: center;
}

#run-dropdown-content li:hover {
  background:var(--var-55);
  box-shadow: 0px -5px 10px 5px var(--var-51);
  cursor:pointer;
}

.dropdown:hover {
  box-shadow: 0px -5px 10px 5px var(--var-50);
  background:var(--var-55);
}

.module-info-hover {
  width: 30em;
  height: auto;
  border: 1px solid var(--var-5);
  padding: 5px;
  background-color: var(--var-46);
}

.CodeMirror-linewidget {
  width: 100%!important;
  overflow: visible;
  position: relative;
  z-index: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editor-check-block-message:hover{
  text-decoration: underline;
  cursor: pointer;
}

.editor-check-block-message {
  text-align: center;
  overflow: none;
}

.editor-check-block-success {
  background: var(--var-80);
  box-shadow: 0 1em 11px 2px var(--var-80);
}

.editor-check-block-failed {
  background: var(--var-81);
  box-shadow: 0 0.5em 11px 3px var(--var-81);
}

.editor-check-block-error {
  background: var(--var-35);
  box-shadow: 0 1em 11px 2px var(--var-35);
}

.check-block-error {
  position: relative;
}

@keyframes emphasize-error {
  from {background-color: var(--var-37);}
  to {}
}

.check-block-test.failing-test:not(.highlights-active) {background-color: var(--var-82); overflow: hidden;}
.check-block-test.passing-test {
  background-color: var(--var-83);}

.check-block-test.passing-test .cm-snippet {
  margin: 0.5em;
}

#output > .compile-error.highlights-active,
.check-block-error .highlights-active.compile-error,
.check-block-test.highlights-active {
  border: 0.3em var(--var-84) solid;
  box-shadow: 0 0 1em;
}


.check-block-error .highlights-active.compile-error,
.check-block-test.highlights-active {
  background: var(--var-85);
}

.check-block:not(.expanded) > .check-block-tests {
  display: none;
}

.test-reason:empty,
.check-block-error:empty {
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content:center;
  height: 3em;
  color: var(--var-8);
  overflow: hidden;
}

.check-block-error:empty {
  background-color: var(--var-86);
  border-radius: 0.5em;
  padding: 0.5em;
}

.test-reason:empty:before,
.check-block-error:empty:before {
  content: '';
  display: block;
  min-height: 3em;
  min-width: 3em;
  background-image: url(/img/pyret-spin.gif);
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1;
}

.test-reason:empty:after,
.check-block-error:empty:after {
  display: block;
  content: 'Processing Result…';
  flex: 1.5;
}


.check-block-header:after {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5em;
  text-decoration: underline;
}

.check-block.expanded > .check-block-header::after {
  content: 'Hide Details';
}

.check-block:not(.expanded) > .check-block-header::after {
  content: 'Show Details';
}


.check-block-test > header {
  width: 100%;
  padding: 0.5em;
  line-height: 0.9;
}

.check-block-test.failing-test.highlights-active > header {
  background-color: var(--var-81);
}

.check-block-test .CodeMirror {
  background:var(--var-87);
}

.errored-test-marker {
  background-color: var(--var-88);
}

.failed-test-marker {
  background-color: var(--var-89);
}

.failed-test-marker > .CodeMirror-linenumber {
  cursor: pointer;
  text-decoration: underline;
}

.summary-bits {
  color: var(--var-1);
  display: flex;
}

.summary-bit {
  flex: 1;
  text-align: center;
  padding: 0.5em;
}

.summary-count {
  display: block;
  font-size: 20px;
}

.summary-bit.summary-passed {
  background: var(--var-90);
}

.summary-bit.summary-failed {
  background: var(--var-81);
}

.summary-errored > .summary-count {
  text-align: center;
  margin-right: 0.5rem;
}

.summary-errored {
  background: var(--var-91);
  color: var(--var-37);
  padding: .5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.summary-text {
  border-left: 1px var(--var-92) solid;
  padding-left: .5em;
}

.highlight-irrelevant {
  opacity: 0.2;
}

.cm-snippet {
  border: 1px var(--var-93) dashed;
  overflow: hidden;
  cursor: default;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.cm-snippet header {
  font-size: .7em;
  background: var(--var-94);
  padding: 0 .5em;
  box-shadow: 0 0 3px var(--var-39);
  z-index: 100;
  position: relative;
  border-bottom: 1px var(--var-95) solid;
  text-align: right;
}

.stacktrace > div {
  cursor:pointer;
  margin-left: 1em;
  margin-bottom: 0.5em;
  overflow:visible;
}

.stacktrace .cm-snippet {
  cursor: pointer;
  overflow-y: hidden;
}

.stacktrace .cm-snippet > .CodeMirror {
  pointer-events: none;
  max-height: 1.5em;
}

#main.spotlight .CodeMirror-matchingbracket::before {
  opacity:0;
  transition: .1s opacity linear .3s;
}

#main.spotlight div.CodeMirror span:not(.spotlight) {
  background-color: initial!important;
}

#main.spotlight div.CodeMirror span.spotlight {
  background-color: var(--var-37) !important;
}

#main.spotlight .CodeMirror-matchingbracket,
#main.spotlight .CodeMirror-matchingbracket.open,
#main.spotlight .CodeMirror-matchingbracket.close,
#main.spotlight .CodeMirror-matchingbracket-region,
#main.spotlight .repl-echo > div.CodeMirror,
#main.spotlight .repl,
#main.spotlight .repl-prompt > div.CodeMirror,
#main.spotlight > div.replMain > div.CodeMirror {
  border-color: transparent;
  box-shadow:none;
  background-color: var(--var-96);
  transition: .1s background-color linear .3s;
}
#main.spotlight .compile-error:not(:hover),
#main.spotlight .check-block-test:not(:hover),
#main.spotlight .check-block:not(:hover) {
  opacity:0.25;
  transition: .1s opacity linear .3s;
}
#main.spotlight .check-block {
  transition: .1s background-color linear .3s;
  background-color: var(--var-97);
}

.stacktrace > div .CodeMirror-vscrollbar {
  display:none!important;
}

.stacktrace > div:hover {
  box-shadow:0 0 1em var(--var-98);
}

.stacktrace > div:not(:first-of-type):before {
  content: '⤤';
  margin-top: -1em;
  margin-left: -1em;
  position: absolute;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    display: table!important;
    border:1px var(--var-1) solid;
    border-radius:1em;
    overflow:hidden;
    background:var(--var-3);
}

table.choiceContainer {
   border: 0px;
   margin: 1em;
}
div.choiceContainer {
   text-align: center;
}
div.choiceContainer input[type=text] {
  padding: 0.5em;
  font-size: 100%;
}
div.choiceContainer .textLabel {
  margin-right: 1em;
}
div.choiceContainer > button {
  margin: 1em;
  cursor: pointer;
  background-color: var(--var-54);
  border: none;
  border-radius: 0px;
  color: var(--var-99);
  text-align: center;
  transition: box-shadow 0.2s;
  font-size: 15px;
  height: 100%;
  padding: 0px 15px;
  vertical-align: middle;
  margin:0px 1px;
}

th {
    background: var(--var-15);
}

th, td {
    text-align: left;
    padding: 1em;
    width: auto;
    border-right:1px var(--var-37) solid;
}

th:last-child, td:last-child {
    padding-right: 2em;
    border-right: unset;
}

tr:nth-child(even){background-color: var(--var-100)}

table.pyret-table thead {
  box-shadow: 0px 2px 2px var(--var-51);
}
table.pyret-row th {
  box-shadow: 2px 0px 2px var(--var-51), -2px 0px 2px var(--var-51);
  border: none;
}
table.pyret-row td {
  border: none;
}
/* NOTE(joe): this helps distinguish a row that appears in a table cell */
table.pyret-row {
  box-shadow: 2px 2px 2px var(--var-51);
}

/* MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--var-1); /* Fallback color */
  background-color: var(--var-98); /* Black w/ opacity */
  font-family: sans-serif;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--var-101);
  margin: auto;
  padding: 0;
  border: 1px solid var(--var-102);
  width: 60%;
  box-shadow: 0 4px 8px 0 var(--var-51),0 6px 20px 0 var(--var-103);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Submit and Close Buttons */
/*.modal .submit,
.modal .close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 5px;
}*/

.modal .submit {
  float: right;
  padding: 0px 5px;
}

.modal table {
  width: 90%;
  margin: 0 5%;
}

.modal td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: auto;
}

.pyret-modal-option-radio,
.pyret-modal-option-message {
  vertical-align: middle;
}
/*
.submit:hover,
.submit:focus,
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}*/

.modal .submit,
.modal .close  {
  height: 40px;
  width: 150px;
  box-shadow: 0px -2px 5px 1px var(--var-51);
  margin-top: 10px;
}

.modal .submit{
  background: var(--var-54);
}

.modal .submit:hover{
  background:var(--var-55);
}

.modal .close{
  background:var(--var-78);
}

.modal .close:hover{
  background:var(--var-79);
}

.modal .submit:hover,
.modal .close:hover{
  box-shadow: 0px -5px 10px 5px var(--var-51);
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--var-50);
  color: var(--var-37);
  text-align: center;
}

.modal-body {
  padding: 2px 16px;
  font-size: 18px;
}

.modal td {
  margin: 10px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--var-50);
  color: var(--var-37);
  height: 60px;
}

.stale.test-results .check-block-failed,
.stale.test-results .check-block-success,
.stale.test-results .check-block-errored,
.stale.test-results .check-block-test,
.stale.test-results .summary-bits {
  transition: background-color 0.3s linear;
}

.stale.test-results .stale-warning {
  position: block;
  /* Note: this is FF-only, but if the consensus is that it's a nice
   * effect, there is a polyfill for Chrome that adds support */
  position: sticky;
  color: var(--var-37);
  top: 0;
  z-index: 500;
  background-color: var(--var-104);
}

.stale.test-results .check-block-failed {
  background-color: var(--var-105);
}

.stale.test-results .check-block-success {
  background-color: var(--var-106);
}

.stale.test-results .check-block-errored {
  background-color: var(--var-107);
}

.stale.test-results .check-block-test.failing-test:not(.highlights-active) {
  background-color: var(--var-108);
}

.stale.test-results .check-block-test.highlights-active {
  background-color: var(--var-109);
}

.stale.test-results .check-block-test.highlights-active > header {
  background-color: var(--var-110);
}

.stale.test-results .check-block-test.passing-test {
  background-color: var(--var-111);
}

.stale.test-results .testing-summary .summary-passed {
  background-color: var(--var-106);
}

.stale.test-results .testing-summary .summary-failed {
  background-color: var(--var-105);
}

.stale.test-results .testing-summary .summary-errored {
  background-color: var(--var-112);
}

.stale .compile-error.highlights-active,
.stale .compile-error.highlights-active,
.stale .check-block-test.highlights-active {
  border-color: var(--var-113);
}


.paintBrush {
   height: 2.1em;
   margin-right: -0.5em;
   position: relative;
   z-index: 2;
}
.paintSpan {
   display: inline-block;
}
.paintBlob {
   width: 2.5em;
   height: 1.5em;
   position: relative;
   z-index: 1;
   vertical-align: baseline;
   display: inline-block;
   -webkit-mask-image: url(/img/paint.svg);
   mask-image: url(/img/paint.svg);
   -webkit-mask-size: contain;
   mask-size: 100% 100%;
   mask-type: luminance;
}
.checkersBlob {
   margin-right: -2.5em;
   width: 2.5em;
   height: 1.5em;
   position: relative;
   background-image: url(/img/checkers.svg);
   background-size: 2.5em 1.5em;
   display: inline-block;
}
.error-bg {
  background-color: var(--var-114);
}
.ok-bg {
  background-color: var(--var-37);
}
label.controller {
  width: 100px;
  float: left;
  margin-right: 10px;
}
button.controller {
  margin: auto;
  display: block;
}