h1 {
  text-align: center;
  width: 100%;
  font-family: monospace;
  font-size: 26pt;
  display: block;
  height: 100px;
}

#about {
  vertical-align: middle;
  margin-left: 3em;
  font-size: 18pt;
  width: 100px;
  float:none;
}

#start {
  vertical-align: middle;
  margin-right: 3em;;
  font-size: 18pt;
  width: 100px;
  float:none;
}

#main {
  width: 100%;
  height: 100%;
}

.main-logo {
  width: 600px;
  margin: auto;
  text-align: center;
}
.main-logo img {
  width: 200px;
  height: 200px;
  vertical-align: middle;
}


.centered {
  width: 450px;
  margin: auto;
  text-align: center;
}

.padded {
  padding-top: 2em;
}

a.blueButton {
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
  font-family: sans-serif;
  font-size: 10pt;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}
