
body {
  line-height: 1.3;
}

em {
  font-style: italic;
}

#loader {
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 50%;
  height: 100%;
  z-index: 8700;
  background: url('/img/pyret-spin.gif') 50% 30% no-repeat rgba(249, 249, 249, 0.5);
  background-size: 50px 50px;
}

#help-keys {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #ddd;
  border-radius: 5px;
  border: 50px solid rgba(0, 0, 0, 0.7);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: none;
}

#doc-containment{
  position:fixed;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  z-index:10000;
  pointer-events: none;
  display:none;
}

#doc-overlay{
  position:absolute;
  box-shadow: 0px 0px 5px black;
  height: 80%;
  width: 60%;
  top: 10%;
  left: 30%;
  z-index: 10001;
  border-radius: 2px;
  pointer-events: auto;
}

#doc-cover{
  z-index: 10010;
  position:absolute;
  top: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

#doc-overlay iframe{
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: calc(100% - 20px);
  z-index: 10000;
  background-color: #ddd;
}

#doc-bar{
  position: absolute;
  height:20px;
  width: 100%;
  padding: 0px;
  text-align: center;
  top: 0px;
  right: 0px;
  z-index: 10005;
  color: #fff;
  background: #C8C8C8;
  font-family:sans-serif;
  cursor: move;
}

.doc-handle{
  position:absolute;
  z-index: 11000;
}

#doc-left{
  top: 20px;
  left: -5px;
  width:10px;
  height: calc(100% - 25px);
  cursor: ew-resize;
}

#doc-right{
  top: 20px;
  right: -5px;
  width:10px;
  height: calc(100% - 25px);
  cursor: ew-resize;
}
#doc-bottom{
  bottom: -5px;
  right: 5px;
  left: 5px;
  height: 10px;
  width: calc(100% - 10px);
  cursor: ns-resize;
}

#doc-se-corner{
  right:-5px;
  bottom: -5px;
  left:auto;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}

#doc-sw-corner{
  left:-5px;
  bottom: -5px;
  width: 10px;
  height: 10px;
  cursor: sw-resize;
}

#doc-close{
  position:absolute;
  right:0px;
  width: 30px;
  height:20px;
  line-height: 20px;
  font-size: 13px;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

#doc-close:hover{
  background: rgba(0,0,0,0.6);
}

#loader p {
  position: relative;
  top: 320px;
  text-align: center;
  width: 100%;
}

#header {
  position: fixed;
  z-index: 9000;
  top: 0;
  width: 100%;
  height: 40px;
  background:#C8C8C8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
}

#header div a {
  width: 100px;
  margin-top: 15px;
  float: left;
  padding-right: 2em;
}

#header a {
  color: #111;
  font-family: sans-serif;
}

#logo{
  height:100%;
  background: url("/img/pyret-logo.png") 15px 5px no-repeat;
  background-size: 30px 30px;
  display:block;
  float:left;
  width: 60px;
}

.logo{
  height: 30px;
  width: 30px;
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}

.menu {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  float:left;
}

#toolbar {
  position: fixed;
  z-index: 8000;
  top: 50px;
  height: 0px;
  width: 100%;
  background-color: #111;
}

#footer {
  height: 5px;
  background-color: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.blueButton {
    font-family: sans-serif;
/*  darker blue option #2a348b */
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    transition: box-shadow 0.2s;
    font-size: 15px;
    height: 100%;
    padding: 0px 15px;
    vertical-align: middle;
    float:left;
    margin:0px 1px;
}

.blueButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    background: rgba(0,0,0,0.6);
}

.blueButton:disabled {
    background-color: none;
    border: none;
    color: rgba(0, 0, 0, 0.26);
    cursor: default;
    box-shadow: none;
}

.rhs {
  float: right;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
}

p {
  margin: .5em;
}

ul {
  margin: .5em;
}

ul li{
  padding-top: .5em;
  padding-bottom: .5em;
}

b {
  font-weight: bold;
}

code {
  font-family: monospace;
}

#shareDialog {

}

.share {
  display: inline-block;
  border: none;
  background-color: #fefefe;
  padding: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.share {
  padding: 10px;
}

.import-syntax {
  width: auto;
  font-family: monospace;
}

.ui-tooltip {
  z-index: 15000;
  background: #fff;
}

.ui-tooltip.ui-widget-content {
  background: #fff;
}

.auto-highlight {
  border: none;
  /* TODO(joe): Best way to override JQuery modal UI settings? */
  font-family: monospace !important;
}

.sharebox {
  border: 1px solid #111;
  padding: 2px;
}

.copy-link {
  text-decoration: none;
  padding-left: 3px;
}

#run-dropdown-content sup {
  font-size: 65%;
  top: -.15em;
  vertical-align: top;
}
