#instruction {
  z-index: 15000;
  position: fixed;
  background-color: rgb(204, 204, 159);
  border-style: double;
  overflow: scroll;
  width: 33%;
  height: calc(70% + 40px);
  top: 110px;
  padding-left: 2%;
}

#tutorial-title{
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.title {
  display: block;
  font-size: 16px;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  color: black
}

.task {
  display: block;
  font-size: 16px;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  color: red
}

.previous {
  position: relative;
  right: 0;
  bottom: 0;
  background-color: #83f442;
  color: black;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.next {
  position: relative;
  right: 0;
  bottom: 0;
  background-color: rgb(51, 51, 45);
  color: white;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.again {
  font-weight: bold;
  background-color: rgb(242, 126, 94);
}

.done {
  font-weight: bold;
  background-color: rgb(103, 242, 72);
}

@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.jump {
  position: relative;
  right: 0;
  bottom: 0;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
