body {
  --var-1: black;
  --var-2: #f8f8f8;
  --var-3: #eee;
  --var-4: hsl(0,0%,95%);
  --var-5: #111;
  --var-6: #cd7054;
  --var-7: darkred;
  --var-8: #555;
  --var-9: #374049;
  --var-10: #4d5966;
  --var-11: navy;
  --var-12: blue;
  --var-13: red;
  --var-14: forestgreen;
  --var-15: #ddd;
  --var-16: #ccc;
  --var-17: rgb(90, 149, 217);
  --var-18: hsl(220, 100%, 95%);
  --var-19: #fdd;
  --var-20: #e11;
  --var-21: #fdc;
  --var-22: #fff6f2;
  --var-23: #9DC5ED;
  --var-24: rgba(0,0,0,0.25);
  --var-25: #CBDFF2;
  --var-26: rgba(255, 255, 255, 0.3);
  --var-27: rgba(255, 255, 255, 0.2);
  --var-28: hsl(204, 100%, 80%);
  --var-29: rgba(255, 255, 255, 0.0);
  --var-30: rgba(255, 255, 255, 0.8);
  --var-31: #cfc;
  --var-32: #d66;
  --var-33: #E1F5FE;
  --var-34: #FFECB3;
  --var-35: hsl(0, 100%, 90%);
  --var-36: #c5e1a5;
  --var-37: white;
  --var-38: hsl(212, 62%, 50%);
  --var-39: hsla(0, 0%, 0%,.5);
  --var-40: hsla(0, 0%, 0%, 0);
  --var-41: green;
  --var-42: #fcf;
  --var-43: #c0c;
  --var-44: #666;
  --var-45: #FEFEFE;
  --var-46: #eeeeee;
  --var-47: #111111;
  --var-48: #F44336;
  --var-49: #EFEFEF;
  --var-50: rgba(0, 0, 0, 0.3);
  --var-51: rgba(0,0,0,0.2);
  --var-52: gray;
  --var-53: #000;
  --var-54: #317bcf;
  --var-55: #0060ce;
  --var-56: rgba(0,0,0,0.1);
  --var-57: rgba(0,0,0,0.05);
  --var-58: #1f1180;
  --var-59: #1f9180;
  --var-60: #af1180;
  --var-61: rgba(128,0,0,0.75);
  --var-62: #fcc;
  --var-63: #F33;
  --var-64: #BBB;
  --var-65: #CCF;
  --var-66: #33F;
  --var-67: #FF3131;
  --var-70: #FFF2F2;
  --var-71: #469ad4;
  --var-72: hsla(0,100%,89%,1);
  --var-73: rgba(145,78,78,0);
  --var-74: #2a348b;
  --var-75: #BFBFBF;
  --var-76: #D9D9D9;
  --var-77: #A6A6A6;
  --var-78: #CF3B31;
  --var-79: #B30C00;
  --var-80: hsl(88, 50%, 76%);
  --var-81: hsl(45, 100%, 85%);
  --var-82: hsl(45, 100%, 94%);
  --var-83: hsl(90,  50%, 91%);
  --var-84: hsl(204, 100%, 74%);
  --var-85: hsla(0,0%,100%,.9);
  --var-86: rgba(255,255,255,0.4);
  --var-87: rgba(255,255,255,0.5);
  --var-88: hsla(0, 100%, 50%, 0.5);
  --var-89: hsla(45, 90%, 50%, 0.5);
  --var-90: hsl(88, 51%, 76%);
  --var-91: hsla(0,100%,73%,1);
  --var-92: hsl(0, 100%, 100%);
  --var-93: hsl(0, 0%, 50%);
  --var-94: hsl(0, 0%, 97%);
  --var-95: hsl(0, 0%, 60%);
  --var-96: rgb(150,150,150);
  --var-97: hsl(45, 9%, 66%);
  --var-98: rgba(0,0,0,0.4);
  --var-99: #fff;
  --var-100: #f2f2f2;
  --var-101: #C8C8C8;
  --var-102: #888;
  --var-103: rbga(0,0,0,0.19);
  --var-104: hsl(212, 30%, 50%);
  --var-105: hsl(45,30%,85%);
  --var-106: hsl(88, 30%, 76%);
  --var-107: hsl(0, 30%, 85%);
  --var-108: hsl(45, 30%, 93%);
  --var-109: hsl(45,0%,95%);
  --var-110: hsl(45, 50%, 85%);
  --var-111: hsl(90, 10%, 91%);
  --var-112: hsl(0, 30%, 70%);
  --var-113: hsl(204, 40%, 74%);
  --var-114: #FF9494;
}