.cf:after {
  content: "";
  display: table;
  clear: both;
}

body, html {
    width: 100%;
    height: 100%;
}

#root, .wrap {
    height: 100%;
    width: 100%;
}

.wrap {
    text-align: center;
}

body, html, p, h1, h2, h3, h4, button, input, div, i {
    color: #123548;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.hidden {
    display: none;
}

.container {
    max-width: 1024px;
    margin: 0px auto;
}

#header {
    height: 48pt;
    padding: 0px 24pt;
    border-bottom: 2px solid #ddd;
}

.left, .right {
    display: inline;
    line-height: 48pt;
}

.left {
    float: left;
}

.right {
    float: right;
}

.floatable.left {
    display: block;
    float: none;
}

.floatable.right {
    display: block;
    float: none;
}

button, .button {
    appearance: none;
    -webkit-appearance: none;
    padding: 8pt 16pt;
    background: #123548;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover, .button:hover {
    opacity: .7;
}

#new-file {
    background: #008BD8;
}

#select-file {
    background: #CA3434;
}

#file-picker-modal, #loading-spinner {
    padding: 16pt;
    margin: 0px auto;
}

.fast-spin {
    -webkit-animation: fa-spin 500ms infinite linear;
    animation: fa-spin 500ms infinite linear;
}

#file-picker-modal-tabs {
    height: 48pt;
    background: #fff;
    border: 2px solid #ddd;
}

#file-picker-modal-footer {
    padding: 0px 24pt;
    text-align: left;
    border: 2px solid #ddd;
}

input.form {
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.arr-ext {
    padding: 0 16pt 0 5px;
}

#file-picker-modal-tabs h2.tab {
    line-height: 48pt;
}

#file-picker-modal-body {
    background: #eee;
    max-height: 400px;
    overflow-y: scroll;
    text-align: left;
}

.tab {
    float: left;
    cursor: pointer;
    padding: 0pt 8pt;
}

.tab.active {
    background: #123548;
    color: white;
    text-decoration: underline;
}

.file-wrapper {
    display: inline-block;
    padding: 16pt;
    width: 100%;
    box-sizing: border-box;
}

.file {
    text-align: center;
    padding: 16pt;
    background: rgba(0,0,0,.06);
    border-radius: 5px;
    box-sizing: border-box;
}

.file:hover {
    cursor: pointer;
    background: rgba(0,0,0,.15);
}

.file i {
    font-size: 2rem;
    padding-bottom: 8pt;
}

.file p {
    font-size: .85rem;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 480px) {
    #file-picker-modal, #loading-spinner {
        padding: 48pt;
        margin: 0px auto;
    }

    .file-wrapper {
        width: 50%;
    }
    .tab {
        padding: 0pt 16pt;
    }
}

@media only screen and (min-width: 768px) {
    .file-wrapper {
        width: 33.3333%;
    }
    input.form {
        width: 150px;
    }
    .floatable.left {
        float: left;
    }
    .floatable.right {
        float: right;
    }
}

@media only screen and (min-width: 1024px) {
    .file-wrapper {
        width: 25%;
    }
}
