.cf:after {
  content: "";
  display: table;
  clear: both;
}

body, html {
  width: 100%;
  height: 100%;
}

#root, .component-wrap {
  height: 100%;
  width: 100%;
}

body, html, p, h1, h2, h3, h4, button, input, div, i {
  color: #123548;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 1024px;
  margin: 0px auto;
}

#header {
  height: 48pt;
  padding: 0px 24pt;
  border-bottom: 1px solid #ddd;
}

#sidebar {
  height: 100%;
  width: 20%;
  margin: 0;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  background: #fbfbfb;
  border-right: 1px solid #ddd;
  position: relative;
}

#sidebar .class {
  padding: 0 16pt;
  line-height: 32pt;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.left, .right {
  display: inline;
  line-height: 48pt;
}

.left {
  float: left;
}

.right {
  float: right;
}

.floatable.left {
  display: block;
  float: none;
}

.floatable.right {
  display: block;
  float: none;
}

button, input[type='submit'] {
  appearance: none;
  -webkit-appearance: none;
  padding: 8pt 16pt;
  background: #123548;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover, input[type='submit']:hover {
  opacity: .7;
}

#select-file {
  background: #CA3434;
  margin: 0px 16pt;
}

.modal-wrap, #loading-spinner {
  padding: 16pt;
  margin: 0px auto;
}

.modal-body {
  border: 1px solid #ddd;
  padding: 16pt;
}

.fast-spin {
  margin-top: 16pt;
  -webkit-animation: fa-spin 500ms infinite linear;
  animation: fa-spin 500ms infinite linear;
}

#modal-tabs {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
}

input[type="text"] {
  background: none;
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.arr-ext {
  padding: 0 16pt 0 5px;
}

#modal {
  display: inline-block;
}

.modal-wrap, #sidebar {
  box-sizing: border-box;
}

.modal-teacher {
  width: 80%;
}
.modal-student {
  width: 100%;
}

#modal-tabs h2.tab {
  line-height: 48pt;
}

#modal-body {
  background: #eee;
  max-height: 400px;
  overflow-y: scroll;
  text-align: left;
}

.tab {
  float: left;
  cursor: pointer;
  padding: 0pt 8pt;
}

.tab.active {
  background: #123548;
  color: white;
  text-decoration: underline;
}

.file-wrapper {
  display: inline-block;
  padding: 16pt;
  width: 100%;
  box-sizing: border-box;
}

.file {
  text-align: center;
  padding: 16pt;
  background: rgba(0,0,0,.06);
  border-radius: 5px;
  box-sizing: border-box;
}

.file:hover {
  cursor: pointer;
  background: rgba(0,0,0,.15);
}

.file img {
  width: 35%;
  padding-bottom: 8pt;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: .4;
}

.file p {
  font-size: .85resm;
}

.student {
  box-sizing: border-box;
  margin: 0 0 16pt 0;
  padding: 0 16pt;
  background: white;
  border-radius: 5px;
}

.student span, .student i {
  display: inline;
  line-height: 48pt;
}

.student i {
  cursor: pointer;
  margin-left: 8pt;
}

.student input {
  margin: 0 16pt 0 8pt;
}

.student form {
  line-height: 48pt;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 480px) {
  .modal-wrap, #loading-spinner {
    padding: 48pt;
    margin: 0px auto;
  }

  .file-wrapper {
    width: 50%;
  }
  .tab {
    padding: 0pt 16pt;
  }
}

@media only screen and (min-width: 768px) {
  .file-wrapper {
    width: 33.3333%;
  }
  input.form {
    width: 150px;
  }
  .floatable.left {
    float: left;
  }
  .floatable.right {
    float: right;
  }
}

@media only screen and (min-width: 1024px) {
  .file-wrapper {
    width: 25%;
  }
}
