body, html, p, h1, h2, h3, h4, button, input, div, i {
  font-family: 'Roboto', sans-serif;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.page-content {
  padding: 16pt;
}

.left {
  float: left;
}

.right {
  float: right;
}

.arr-ext {
  padding: 0 16pt 0 5px;
}

.mdl-card img {
  width: 35%;
  padding-bottom: 8pt;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: .4;
}

.class {
  padding: 16px 40px;
  cursor: pointer;
}

.class span.name, .class i, .student span.name, .student i {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: 0.87;
}

.mdl-tooltip {
  z-index: 500000 !important;
}

.class:hover {
  background: rgb(224,224,224);
}

.class.active span.name, .class.active i {
  font-weight: 500;
  color: #333;
}

.class.active {
  background: rgb(240,240,240);
}

.mdl-card i, .class i {
  cursor: pointer;
}

.class i {
  margin-left: 8pt;
}

.mdl-card i {
  margin-right: 8pt;
}

.hidden {
  display: none;
}
